@import url("normalize.css");
@import url("reset.css");

.login-box {
  padding: 0.5rem 1.5rem 1.3rem;
  background: #fff;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.cell {
  border-bottom: 1px solid #dedede;
}

.cell-ipt {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 0.5rem;
  line-height: 1rem;
  border: 0;
  font-family: "microsoft yahei", "微软雅黑";
  outline: 0;
}

.cell-label {
  display: block;
  width: 1.5rem;
  word-wrap: break-word;
  word-break: break-all;
}

.cell-label .icon {
  display: block;
  width: 1.5rem;
  height: 2rem;
}

.login-btn {
  width: 100%;
  font-size: 0.6rem;
  height: 1.75rem;
  margin-top: 1.3rem;
  -webkit-border-radius: 2rem;
  -ms-border-radius: 2rem;
  border-radius: 2rem;
}

.login-links {
  margin-top: 0.5rem;
}

.login-links a {
  font-size: 0.5rem;
}

.links-forget {
  float: right;
  color: #ff4444;
}

.code-btn {
  float: right;
  font-size: 0.5rem;
  height: 1.1rem;
  line-height: 1rem;
}

.win-user-type {
  width: 90%;
  top: 50%;
  margin: -3rem auto 0;
  -webkit-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.3rem 0;
  background: #fff;
}

.win-user-type h2 {
  height: 1.75rem;
  line-height: 1.75rem;
  font-size: 0.75rem;
  font-weight: normal;
  color: #000;
  margin: 0;
}

.user-type_list {
  margin: 0;
  padding: 0;
}

.user-type_list li {
  height: 1.75rem;
  line-height: 1.75rem;
  font-size: 0.75rem;
  font-weight: normal;
  color: #ff4444;
  margin: 0;
  padding: 0 0.5rem;
  border-top: 1px solid #dedede;
}

.user-type {
  height: 0.8rem;
  padding: 0.6rem 0.8rem 0.6rem 0;
  font-size: 0.5rem;
}

.checkbox-con {
  margin-top: 0.5rem;
}

.user-agree {
  display: block;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.5rem;
  color: #333;
}

.user-agree a,
.user-agree a:active {
  color: #ff4444;
}

.cell-checkbox {
  position: relative;
  display: block;
  height: 1rem;
  width: 1.5rem;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.cell-checkbox .icon {
  display: block;
  height: 1rem;
  width: 1.5rem;
}

.checked {
  position: absolute;
  left: -9999px;
}

.icon-user {
  background: url(../images/icon/icon_user.png) no-repeat center center;
  background-size: 0.8rem auto;
}

.icon-phone {
  background: url(../images/icon/icon_phone.png) no-repeat center center;
  background-size: 0.8rem auto;
}

.icon-lock {
  background: url(../images/icon/icon_lock.png) no-repeat center center;
  background-size: 0.8rem auto;
}

.icon-sure {
  background: url(../images/icon/icon_sure.png) no-repeat center center;
  background-size: 0.8rem auto;
}

.icon-type {
  background: url(../images/icon/icon_type.png) no-repeat center right;
  background-size: 0.8rem auto;
}

.icon-checkbox {
  background: url(../images/icon/icon_checkbox.png) no-repeat center center;
  background-size: 0.8rem auto;
}

.checkbox-con_active .icon-checkbox {
  background: url(../images/icon/icon_checkbox_active.png) no-repeat center center;
  background-size: 0.8rem auto;
}