.doctor-box{
    padding-bottom:30px;
}
.check-person-box{
    height:257px;
    min-width:1200px;
    background: url("../img/zhuye/1.png") center center no-repeat;
}
.check-person-main{
    padding-top:28px;
}
/*左侧*/
.check-person-l{
    padding-top:44px;
}


.check-person-l-in-pic{
    width:150px;
    height:146px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    overflow: hidden;
    margin:0 auto;
}
.check-btns{
    padding:10px 0;
}
.check-btns a{
    display: inline-block;
    width:80px;
    height:26px;
    line-height:26px;
    text-align: center;
    color: #fff;
    background-color:#2cc327;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    margin:0 3px;
}

.check-person-name{
    color: #fff;
    line-height:40px;
    font-size:16px;
    padding:30px 0;
}
.check-person-name .name{
    font-size:20px;
}
/*右边*/
.check-person-data{
    position: absolute;
    right:0;
    top:50%;
    height:80px;
    line-height:40px;
    margin-top:-40px;
    color: #fff;
}
.check-person-data,.check-person-data-num{
    text-align: center;
}
.check-person-data-tips span,
.check-person-data-num span
{
    display: inline-block;
    min-width:80px;
    font-size:16px;
    color: #fff;
}

/*主内容*/
.check-person-main-l{
    width:815px;
}
.check-person-main-nav{
    line-height:60px;
    border-bottom:1px solid #dcdcdc;
}
.check-person-main-nav a{
    display: inline-block;
    font-size:18px;
    color: #2D2D2D;
    padding:0 5px;
    margin-right:50px;
}
.check-person-main-nav a.active{
    border-bottom:2px solid #4f97fd;
    color: #4f97fd;
}
.no-data{
    width:170px;
    height:150px;
    margin:150px auto 0;
    text-align: center;
    font-size:16px;
    line-height:40px;
}
.check-dortor-info {
    padding:10px 0;
    line-height:30px;
}


/*认证标志*/
.doctor-att-info{
    margin:10px 0;
}
.doctor-att-info a{
    width:30px;
    height:30px;
    line-height:30px;
    text-align: center;
    display: inline-block;
    background-color: #24b5c9;
    color: #fff;
    margin-right:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.doctor-att-info a i{
    font-size:18px;
}
.doctor-att-info .anqan{
    background-color:#e26445;
}
.doctor-att-info .geren{
    background-color:#46c043;
}

/*医生简介*/
.doctor-jianjie{
    min-height:213px;
    margin-bottom:20px;
    border:1px solid #dcdcdc;
    position: relative;
    padding:0 25px 25px;
}
.doctor-jianjie:before{
    right:-1px;
    bottom:-1px;
    content: '';
    width:23px;
    height:25px;
    position: absolute;
    z-index:10;
    background: url("../img/11.png") no-repeat;
}
.doctor-jianjie dl{
    font-size:16px;
    color: #2d2d2d;
    line-height:30px;
    margin-top:15px;
}
.doctor-jianjie dl dt{
    font-size:18px;
    margin:5px 0;
}