.register-wrap, .login-wrap{
    padding: 50px 0;
    background: #fafafa;
    border-top: 4px solid #4c8cd9;
}
.search-warp{
    border-bottom:4px solid #4c8cd9;
}
.search-warp .logo {
    width: 156px;
    height: 50px;
    overflow: hidden;
}
.user-reg{
    line-height: 40px;
    margin: 5px 18px;
    font-size: 16px;
    border-left: 1px solid #dcdcdc;
    padding-left: 18px;
    color: #333;
}
.find-pass{
    padding:46px 30px;
    border: 1px solid #dcdcdc;
}
.find-pass-left{
    width: 540px;
}
.find-pass-left .find-pass-top{
    height: 35px;
    position: relative;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #333;
}
.find-pass-left .find-pass-top .liucheng1{
    position: relative;
    width: 260px;
    height: 35px;
    background: #e4e3e3;
    z-index: 10;
}
.find-pass-left .find-pass-top .liucheng1.current{
    background: #ff9933;
    z-index: 10;
    color: #fff;
}
.find-pass-left .find-pass-top .liucheng1:before{
    right: -34px;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 17px;
    border-color: transparent transparent transparent #e4e3e3;

}
.find-pass-left .find-pass-top .liucheng1.current:before
{
    content: "";
    border-color: transparent transparent transparent #ff9933;

}
.find-pass-left .find-pass-top .liucheng2{
    height: 35px;
    width: 280px;
    background: #e4e3e3;
    overflow: hidden;
    position: relative;
}
.find-pass-left .find-pass-top .liucheng2.current{
    background: #ff9933;
    color: #fff;
}
.find-pass-left .find-pass-top .liucheng2:after{
    left: -5px;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-width: 30px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    z-index: 1;
    top: 50%;
    margin-top: -30px;
}
.pass-form{
    display: none;
}
.pass-form.current{
    display: block;
}
.pass-form dl{
    margin-top: 20px;
    line-height: 40px;
}
.pass-form dl dt{
    padding:0 10px 0 0;
    font-size: 16px;
    width: 100px;
    height: 40px;
}
.pass-form dl dd input{
    width: 206px;
    height: 40px;
    border: 1px solid #dcdcdc;
    float: left;
    padding-left: 10px;
    font-family: "microsoft yahei";
}
.pass-form dl dd button.getCode{
    padding: 0 40px;
    background: #45c53d;
    color: #fff;
    font-size: 16px;
    border: none;
    height: 42px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.pass-form dl dd .next,.sub{
    width: 216px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: #0099ff;
    border-radius: 5px;
    display: block;
}
.pass-form dl dd {
    margin-right:10px;
}
.sub{
    border: none;
    cursor: pointer;
}
/*验证邮箱*/
.reg-email-wrap{
    padding:30px 0;
    background-color: #fafafa;
}
.reg-email{
    width:627px;
    height:287px;
    border:1px solid #dcdcdc;
    background-color: #fff;
    margin:0 auto;
    padding:30px 0;
}
.reg-email h2{
    font-size:16px;
    color: #777;
    text-align: center;
    padding:30px 0;
    font-weight: normal;
}
.reg-email-con dl{
    line-height:40px;
    margin-bottom:20px;
}
.reg-email-con dl dt{
    width:130px;
    text-align: right;
    font-size:16px;
    padding-right:15px;
}
.reg-email-con dl dd .email-inp{
    width:398px;
    height:38px;
    border:1px solid #dcdcdc;
}
.reg-email-con dl dd .email-code{
    width:250px;;
    height:38px;
    border:1px solid #dcdcdc;
}
.reg-email-con dl dd .send-code4{
    width:130px;
    height:40px;
    line-height:40px;
    text-align: center;
    background-color: #0099ff;
    border:none;
    color: #fff;
    margin-left:16px;
    cursor: pointer;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.reg-email-con .sub-email{
    width:270px;
    line-height:40px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background-color: #0079ca;
    color: #fff;
    font-size:18px;
    font-weight: bold;
    border:none;
    cursor: pointer;
    margin:10px 0 0 145px;

}

/*.setpass{*/
    /*display: none;*/
/*}*/