/*认证第一步*/
.attention-one{
    padding:20px 55px 50px 0;
}
.attention-one dl{
    line-height:40px;
    margin-bottom:20px;
}
.attention-one dl dt{
    padding-right:12px;
    padding-left:30px;
}
.attention-qy dd select,.attention-yy dd select,.attention-ks select,.attention-zc select,.attention-name dd input{
    width:100px;
    height:38px;
    border:1px solid #dcdcdc;
    font-size:14px;
    color: #666;
    font-family: "microsoft yahei";
    margin-right:12px;
}
.attention-yy dd select{
    width:320px;
    height:38px;
    border:1px solid #dcdcdc;
}
.attention-ks select,.attention-zc select,.attention-name dd input{
    width:128px;
}
.attention-next,.attention-next2,.attention-prve{
    width:133px;
    height:40px;
    line-height:40px;
    text-align: center;
    color: #fff;
    display: inline-block;
    background-color: #2cc327;
    margin:10px 0 10px 83px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.attention-next:hover,.attention-next2:hover{
    background-color: #1e901a;
}
.attention-area dd{
    width:770px;
}
.attention-area dd textarea{
    width:100%;
    height:80px;
    border:1px solid #dcdcdc;
}

/*上传流程*/
.liucheng-box{
    position: relative;
}
.liucheng-box .lc-line,.liucheng-box .lc-line-active{
    width:540px;
    border-bottom:1px solid #dcdcdc;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-270px;
    margin-top:-18px;
}
.liucheng-box .lc-line-active{
    width:0;
    border-bottom:1px solid #2cc327;
}
.liucheng-list{
    padding:0 50px;
    position: relative;
}
.liucheng-list li{
    position: relative;
    float: left;
    width:33.33%;
    text-align: center;
    margin:30px 0;
    font-size:14px;
    color: #2d2d2d;
    padding-top:30px;
}
.liucheng-list li .liucheng-icon{
    left:50%;
    top:0;
    width:15px;
    height:15px;
    position: absolute;
    margin-left:-7px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: #bfbfbf;
}

.liucheng-list li.active .liucheng-icon{
    width:20px;
    height:20px;
    background: rgba(44,195,39,.6);
}
.liucheng-list li.active .liucheng-icon:before{
    content: "";
    width:10px;
    height:10px;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-5px;
    margin-top:-5px;
    background: #2cc327;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

/*上传图片*/
._upload-box{
    pading-top:50px;
}
.up-pic-box{
    padding:0 120px 50px;
    position: relative;
}
.up-pic-list{
    padding-top:30px;
}
.upload-show-pic{
    width:225px;
    height:202px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin:10px 0;
}
.up-pic-list li dl{
    line-height:26px;
    font-size:14px;
    color: #2d2d2d;
}
.up-pic-list li dl dt{
    line-height:30px;
}

/*认证上传*/
.attestation-upload{

    width:160px;
    height:42px;
    line-height:42px;
    text-align: center;
    background-color: #ff9d00;
    color: #fff;
    font-size:16px;
    display: block;
    margin:15px  0;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    position: relative;

}

.attestation-upload input{
    width:100%;
    height:100%;
    position: absolute;
    bottom:0;
    left:0;
    opacity:0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

/*保存*/
.save-success-box{
    text-align: center;
    padding:40px 0;
}
.save-success-box input{
    width:255px;
    height:50px;
    line-height:50px;
    text-align: center;
    font-size:16px;
    font-family: "microsoft yahei";
    background: url("../img/button-bg.png") no-repeat;
    border:none;
    color: #fff;
    cursor: pointer;
}
/*上传成功*/
.upload-success{
    text-align: center;
    padding:120px 0;
    font-size:16px;
    color: #2d2d2d;
    position: relative;
}
.upload-success:before{
    left:50%;
    top:60px;
    content: "";
    width:50px;
    height:50px;
    margin-left:-25px;
    position: absolute;
    background: url("../img/success_pic.png") no-repeat;
}
.upload-success .success-con{
    padding:26px 0;
}