.person-answer-list{
    display: none;
}
.person-answer-list.current{
    display: block;
}
.person-answer-list li{
    margin-top: 20px;
    border-bottom:1px dashed #dcdcdc;
}
.person-answer-list li .person-answer-list-in{
    display: block;
    padding:0 14px;
    font-size:14px;
    color: #919191;
}
.person-answer-list li .person-answer-title{
    line-height:30px;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: normal;
}
.person-answer-list li .person-answer-bot{
    padding:20px 0;
}
.person-answer-list li .person-answer-bot span{
    padding:0 10px;
}


/*我的消息*/
.system-message-list li{
    padding:0 15px 20px;
}
.system-message-list li a{
    padding:0;
}

.system-message{
    position: relative;
}
.system-message .message-icon{
    width:66px;
    display: block;
    position: relative;
}
.system-message-mid{
    padding-left:66px;
    line-height:26px;
    max-width:480px;
    font-size:14px;
    color: #2d2d2d;
}
.system-message-mid  .system-mesage-title{
    font-size:16px;
    height:32px;
}
.system-message .message-icon i{
    left:0;
    top:0;
    width:40px;
    height:28px;
    position: absolute;
    background: url("../img/center/speaker.png") no-repeat;
}
.system-message .del-btn,.answerer-box .del-btn{
    right:30px;
    top:10px;
    position: absolute;
    cursor: pointer;
}
.system-message .del-btn:hover .iconfont,.answerer-box .del-btn:hover .iconfont{
    color: #2d2d2d;
}
.system-message .del-btn .iconfont,.answerer-box .del-btn .iconfont{
    font-size:26px;
    color: #dcdcdc;
}
/*回答信息*/
.answerer-box{
    position: relative;
}
.answerer-box-in{
    max-width:815px;
}
.answer-question-line:hover{
    color: #4c8cd9;
    text-decoration: underline !important;
}
.answer-question-line:hover .person-answer-title{
    color: #4c8cd9;
}
.answerer{
    font-size:14px;
    color: #2d2d2d;
    line-height:26px;
}
.answerer-time{
    padding:12px 0;
}
.answerer-time span{
    padding-right:15px;
}