/*菜谱*/
.personal_tab_top {
    position: relative;
    text-align: center;
    z-index: 1;
}
.personal_main_left .personal_tab_top img {
    width: 230px;
    height: 340px;
}
.personal_tab_top .person_head_box {
    position: absolute;
    top: 0;
}
.personal_tab_top .person_tab_head .head_person_img {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.personal_tab_top .person_tab_head img {
    width: 90px;
    height: 90px;
    margin: 5px;
}
.person_tab_head {
    width: 102px;
    height: auto;
    margin: 40px auto 10px;
}
.person_tab_text {
    font-size: 18px;
    color: rgb(35,35,35);
    margin-top: 15px;
}
.person_head_box h2 {
    font-size: 14px;
    color: rgb(35,35,35);
    font-weight: 400;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.flow_list_item_number {
    margin-top: 20px;
}
.flow_list_item_number>div {
    width: 33.33%;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #b5b5b5;
}
.flow_list_item_name span,.flow_list_item_name p {
    color: rgb(135,135,135);
}
.personal_tab_bottom {
    width: 228px;
    height: 530px;
    border: 1px solid #dcdcdc;
    position: relative;
    top: -40px;
    border-top: 0px;
    z-index: 0;
}
.person_box_bord {
    width: 227px;
}
.personal_bottom_box {
    padding: 30px 0;
    /*margin-top: 30px;*/
    text-align: center;
}
.personal_bottom_box li {
    margin: 27px 0;
    text-align: center;
    border-left: 2px solid #fff;
}
.personal_bottom_box li.active {
    border-left: 2px solid #f6a200;
}
.personal_bottom_box li.active i,.personal_bottom_box li.active dd {
    color: #f6a200;
}
.personal_bottom_box li a {
    font-size: 14px;
    display: block;
}
.personal_bottom_box li .iconfont {
    font-size: 24px;
    color: #dcdcdc;
}
.person_box_list {
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}
.person_box_list dt {
    width: 30px;
    height: 30px;
    line-height: 31px;
}
.person_box_list dd {
    width: 60px;
    text-align: left;
    height: 30px;
    padding-left: 16px;
}

.personal_main_right {
    width: 930px;
}
.person_content_head {
    height: auto;
    zoom: 1;
    overflow: hidden;
    width: 100%;
    padding-top: 15px;
    border-bottom: 1px solid #dcdcdc;
}
.person_content_head h3 {
    font-size: 16px;
    color: rgb(35,35,35);
    font-weight: 400;
}
.person_head_list a {
    font-size: 14px;
    display: inline-block;
    padding: 0 15px 12px 15px;
    border-bottom: 3px solid #fff;
}
.person_head_list a.active {
    border-bottom: 3px solid #f6a200;
    color: #f6a200;
}
.personal_main_container {
    width: 100%;
    height: 100%;
}

.container_none img {
    width: 79px;
    height: 85px;
    margin: 10px auto;
}
.container_none {
    width: 255px;
    margin: 0 auto;
    padding-top: 250px;
    text-align: center;
}
.personal_main_text {
    font-size: 14px;
    color: rgb(135,135,135);
    display: inline-block;
}




/*待审核*/
.personal-list-left {
    width: 222px;
    height: 169px;
}
.personal-food-list {
    height: 171px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px dashed #dcdcdc;
}
.personal-list-right {
    line-height: 40px;
    margin: 25px 20px;
}
.personal-list-right h2 {
    color: rgb(35,35,35);
    font-weight: 400;
}
.personal-list-right p {
    color: rgb(135,135,135);
}
.personal-food-right {
    margin: 66px 4px 0 0;
}
.personal-food-right .bian-food a {
    width: 46px;
    height: 24px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    margin-right: 15px;
}
.personal-food-right a {
    color: rgb(135,135,135);
}
.personal-food-right .iconfont {
    font-size: 20px;
}








/*设置*/
.reg-step dt ,.sex-step dt, .adree-step dt{
    width: 80px;
    font-size: 14px;
    text-align: right;
}
.reg-step ,.sex-step, .adree-step {
    height: 50px;
    line-height: 30px;
}
.reg-step dd,.sex-step dd , .adree-step dd {
    padding-left: 20px;
}
.adree-step {
    margin-top: 60px;
}
.reg-step input {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    width: 240px;
    height: 30px;
    padding-left: 12px;
}
.sex-step label input {
    margin-right: 6px;
}
.reg-step select {
    height: 25px;
    margin-right: 10px;
    border: 1px solid #dcdcdc;
}
.reg-step textarea {
    width: 400px;
    height: 100px;
    font-size: 14px;
    line-height: 15px;
    border: 1px solid #dcdcdc;
}
.sex-step label {
    padding-right: 15px;
}
.message-content-keep ,.messji-content-keep{
    clear: both;
    /*width: 200px;*/
    /*height: 40px;*/
    /*line-height: 53px;*/
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    outline: none;
    margin-left: 90px;
    margin-top: 30px;
    width: 100px;
    height: 28px;
    background-color: #ff9d00;
    border-radius: 20px;
    font-size: 12px;
    line-height: 28px;
}
.adree-step dd a {
    font-size: 13px;
    color: #f6a200;
}
.message-content {
    padding-top: 40px;
}






/*绑定设置*/
.set-bang {
    margin-left: 20px;
}
.set-box {
    border-bottom: 1px solid #dcdcdc;
    padding: 30px 0;
    height: 50px;
    line-height: 25px;
}
.set-box:first-child {
    padding-top: 0;
}
.set-left ,.set-left span,.set-left div{
    float: left;
}
.set-right {
    float: right;
    width: 78px;
    height: 28px;
    border-radius: 5px;
    line-height: 28px;
    text-align: center;
    background-color: #f6a200;
    color: #fff;
    cursor: pointer;
}
.set-left span {
    text-align: center;
    line-height: 46px;
    color: #b3b7b4;
}
.set-left div {
    padding-left: 32px;
}
.set-bang .active .set-right {
    color: #f6a200;
    background-color: #fff;
    border: 0px;
}
.set-left h3:nth-child(2) {
    font-size: 12px;
    font-weight: 400;
    padding-top: 3px;
    color: rgb(135,135,135);
}
.set-left .iconfont {
    font-size: 28px;
}
.set-bang .active .set-left .iconfont {
    color: #f6a200;
}
.set-box:last-child {
    border-bottom: 0px;
}




/*头像*/
.upload-jia {
    width: 100px;
    height: 100px;
    background-color: #c8c6c3;
    cursor: pointer;
    margin-bottom: 20px;
}
.upload {
    margin-left: 10px;
}
.upload-jia span {
    display: block;
    background-color: #dedbd7;
}
.upload-jia .jia1 {
    width: 60px;
    height: 8px;
    position: relative;
    top: 45px;
    left: 22px;
}
.upload-jia .jia2 {
    position: relative;
    top: 14px;
    left: 45px;
    width: 8px;
    height: 60px;
}
.choose-upload ,.choose-upload2{
    width: 500px;
}
.choose-upload span,.choose-upload2 span {
    width: 100px;
    height: 28px;
    background-color: #ff9d00;
    border-radius: 20px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 28px;
    display: inline-block;
    cursor: pointer;
    float:left;
    margin: 8px;
}
.choose-upload p ,.choose-upload2 p{
    display: inline-block;
    padding-left: 12px;
    padding-top: 12px;
}
.upload-footer,.upload-footer2 {
    margin-bottom: 30px;
}
.upload-footer a,.upload-footer2 a{
    width: 100px;
    height: 28px;
    background-color: #ff9d00;
    border-radius: 20px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 28px;
    display: inline-block;
    margin-top: 40px;
}
.upload-jia img {
    position: relative;
}
.delet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    position: relative;
    left: 80px;
    bottom: 100px;
    display: block;
    text-align: center;
}










/*图片上传*/
@charset "utf-8";
.img-container {
    display: none;
    width: 400px;
    margin-top: 40px;
    position: relative;
    font-family: 微软雅黑;
    font-size: 12px;
}
.img-contain {
    display: none;
    width: 400px;
    margin-top: 40px;
    position: relative;
    right: 340px;
    font-family: 微软雅黑;
    font-size: 12px;
}
.img-container p,.img-contain p {
    line-height: 12px;
    line-height: 0px;
    height: 0px;
    margin: 10px;
    color: #bbb
}
.action,.action2 {
    width: 400px;
    height: 30px;
    margin: 10px 0;
}
.cropped,.cropped2 {
    position: absolute;
    right: -360px;
    top: 0;
    width: 150px;
    /*border: 1px #ddd solid;*/
    height: 360px;
    padding: 4px;
    /*box-shadow: 0px 0px 12px #ddd;*/
    text-align: center;
}
.cropped img,.cropped2 img {
    marign-left: auto;
    margin-right: auto;
    margin-top: 10px !important;
    display: inline-block;
}
.imageBox, .imageBox2{
    position: relative;
    height: 300px;
    width: 500px;
    border: 1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;
    box-shadow: 4px 4px 12px #B0B0B0;
}
.imageBox .thumbBox,.imageBox2 .thumbBox2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}
.imageBox .spinner,.imageBox2 .spinner2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}
.Btnsty_peyton{
    float: left;
    width: 40px;
    display: inline-block;
    margin-bottom: 10px;
    height: 40px;
    line-height:40px;
    font-size: 16px;
    color: #FFFFFF;
    margin:0px 2px;
    background-color: #ff9d00;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px #B0B0B0;
    border: 0px #fff solid;}
/*选择文件上传*/
.new-contentarea,.new-contentarea2 {
    width: 100%;
    overflow:hidden;
    margin: 0 auto;
    position:relative;
    float:left;
}
.new-contentarea label,.new-contentarea2 label {
    width:100%;
    height:100%;
    display:block;
}
.new-contentarea input[type=file] ,.new-contentarea2 input[type=file]{
    width: 100%;
    height: 100%;
    background: #333;
    margin: 0 auto;
    position: relative;
    top: -38px;
    right\*:0px\9;
    margin-right\*:0px\9;
    width\*:10px\9;
    opacity:0;
    filter:alpha(opacity=0);
    z-index:2;
}
a.upload-img ,a.upload-img2{
    width:100%;
    display: inline-block;
    margin-bottom: 10px;
    height:100%;
    line-height: 30px;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration:none;
    cursor:pointer;
}
.cropped img:hover,.cropped2 img:hover, .cropped img.active,.cropped2 img.active{
    border: 1px solid #fff;
    -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
    border-color:rgba(141,39,142,.75);
    -webkit-box-shadow:5px 5px 30px rgba(111,1,32,3);
    box-shadow:5px 5px 30px rgba(111,1,32,3);
    -moz-box-shadow:5px 5px 30px rgba(111,1,32,3);
}
.tc{text-align:center;}




/*信息*/
span.mess-num {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background-color: #f54956;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
}
.message-list-all li {
    height: 50px;
    padding-bottom: 40px;
    border-bottom: 1px dashed #dcdcdc;
    position: relative;
    margin-bottom: 40px;
}
.mess--list-left span{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f6a200;
    color: #fff;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    margin: 7px 0;
}
.mess--list-left span i {
    font-size: 22px;
}
.mess-list-right {
    margin-left: 18px;
    line-height: 25px;
}
.mess-list-right .mess-name-lei {
    font-size: 14px;
    color: rgb(135,135,135);
}
.mess-list-right h2 {
    font-size: 14px;
    font-weight: 500;
}
.mess-list-time {
    font-size: 14px;
    color: rgb(135,135,135);
    margin-right: 25px;
}
.close-mess {
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 18px;
    color: rgb(135,135,135);
    line-height: 17px;
}

.letter-reply {
    display: block;
    text-align: right;
    margin-top: 5px;
    cursor: pointer;
    width: 30px;
    margin-left: 80px;
}
.mess-list-right a {
    color: rgb(135,135,135);
}
.mess-letter-list a {
    width: 56px;
    text-align: center;
}
.mess-letter-left span {
    width: 42px;
    height: 42px;
    margin: 2px 0;
}





/*发布菜谱*/
.publish-food-head h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
    font-size: 16px;
}
.publish-food-left, .publish-food-right {
    margin: 0px !important;
}
.publish-food-left {
    width: 860px;
    height: auto;
}
.publish-food-right {
    width: 280px;
}
.publish-food-left h2, .publish-food-name dt {
    font-size: 16px;
}
.publish-food-right h1 {
    font-size: 14px;
    padding-bottom: 10px;
}
.publish-food-right p {
    color: rgb(135,135,135);
}
.publish-food-name dd label {
    margin-left: 18px;
}
.publish-food-name dd input {
    margin-right: 6px;
    color: #fff;
}
.publish-food-name #name-food {
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    padding-left: 20px;
}
.publish-left-box {
    margin-bottom: 30px;
}
.publish-food-name #name-food ,.publish-left-box>div {
    margin-top: 18px;
}
.publish-food-story textarea {
    width: 100%;
    height: 250px;
    border: 1px solid #dcdcdc;
    padding: 20px;
    border-radius: 3px;
}
span.degree {
    display: inline-block;
    margin-left: 10px;
    width: 120px !important;
}
span.degree img {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 3px;
}
.publish-can {
    line-height: 16px;
}
.publish-can span.right input {
    margin: 0 12px;
    height: 25px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding-left: 10px;
}
.publish-add-left {
    width: 50%;
}
.publish-add-box p {
    margin-bottom: 10px;
    color: rgb(135,135,135);
}
.publish-add-box input {
    border: 1px solid #dcdcdc;
    color: rgb(135,135,135);
    border-radius: 15px;
    height: 28px;
    padding-left: 7px;
}
.publish-add-list {
    margin-right: 15px;
}
.publish-add-list input {
     width: 220px;
 }
.publish-add-list2 input {
    width: 80px;
}
.publish-process-content span {
    vertical-align: top;
}
.publish-process-content span {
    margin-right: 8px;
    font-size: 12px;
}
.publish-process-content .step-1 {
    font-size: 14px;
}
.publish-process-content .step-2 {
    width: 110px;
    height: 110px;
    display: inline-block;
    border: 1px solid #dcdcdc;
}
.publish-process-content .step-2 .iconfont {
    font-size: 36px;
    color: #dcdcdc;
}
.step-content {
    text-align: center;
    padding-top: 30px;
}
.step-content p {
    margin-top: 12px;
    color: #dcdcdc;
}
.publish-process-content .step-3 textarea {
    width: 650px;
    height: 110px;
    border: 1px solid #dcdcdc;
    padding: 14px;
    font-size: 14px;
    border-radius: 3px;
}
.publish-process-content .step-4 {
    width: 20px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 0;
}
.publish-process-content .step-4 a {
    display: block;
    width: 18px;
    height: 18px;
    background-color: #dcdcdc;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    margin-bottom: 8px;
}
.publish-img-box {
    width: 854px;
    height: 340px;
    border: 3px dashed #dcdcdc;
}
.publish-process-content .step-4 a i {
    color: rgb(135,135,135);
    font-size: 10px;
}
.publish-process-btn {
    text-align: center;
}
.publish-process-btn input {
    width: 85px;
    height: 32px;
    border: 0px;
    background-color: #dcdcdc;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px 15px;
}
.publish-food-skill .text-skil textarea {
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    padding: 10px;
    height: 110px;
}
.publish-process-btn input.active {
    background-color: #f6a200;
    color: #fff;
}
.publish-classify-box>div {
    width: 160px;
    height: 35px;
    margin-right: 25px;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}
.publish-classify-box>div .right {
    display: inline-block;
    line-height: 40px;
    color: #dcdcdc;
    margin-right: 5px;
    margin-left: 0;
}
.publish-classify-box>div ul {
    display: none;
    z-index: 10;
    position: absolute;
}

.publish-classify-box>div li {
    width: 160px;
    height: 35px;
    border: 1px solid #dcdcdc;
    margin-bottom:-1px;
    font-size: 14px;
    text-align: left;
    line-height: 35px;
    cursor: pointer;
    background-color: #fff;
    z-index: 10;
}
.publish-classify-box>div ul li:hover {
    background-color: #dcdcdc;
}
.publish-classify-box>div li span {
    margin-left: 45px;
}

.publish-food-btn p {
    font-size: 13px;
    color: rgb(135,135,135);
    margin-bottom: 20px;
}
.publish-food-btn input {
    width: 100px;
    height: 35px;
    border: 0px;
    background-color: #dcdcdc;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px 20px 0 0 ;
}
.publish-food-btn input.active {
    background-color: #f6a200;
    color: #fff;
}
.publish-food-img .publish-img-box {
    text-align: center;
}
.publish-food-img .publish-img-box h1 {
    font-size: 20px;
    margin-top: 100px;
}
.publish-food-img .publish-img-box input {
    width: 120px;
    height: 38px;
    border: 0px;
    background-color: #f6a200;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    margin: 25px 0;
}
.publish-food-img .publish-img-box p {
    color: rgb(135,135,135);
}




/*积分*/
.person_content_head h2 {
    font-size: 16px;
    color: rgb(35,35,35);
    font-weight: 400;
    padding: 0 15px 12px 15px;
}
.point-box {
    margin: 0 15px;
}
.point-head {
    text-align: center;
    margin: 50px 0;
}
.point-head  h2 {
    font-size: 24px;
    color: #f6a200;
    margin-bottom: 30px;
}
.point-head  h2 span {
    font-size: 30px;
    position: relative;
    top: -3px;
}
.point-head a {
    display: inline-block;
}
.point-head input {
    width: 120px;
    height: 38px;
    border: 0;
    background-color: #f6a200;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}
.point-title-list {
    background-color: #f6f6f6;
    width: 100%;
    height: 48px;
    text-align: center;
}
.point-content h3 {
    padding-bottom: 15px;
}
.point-title-list span {
    height: 100%;
    display: inline-block;
    font-size: 14px;
    line-height: 48px;
    padding: 0 70px;
}

.point-table ul li {
    height: 50px;
    padding: 10px 30px;
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
}
.point-table ul li span {
    height: 100%;
    display: inline-block;
    line-height: 50px;
    font-size: 13px;
}
.point-table ul li span:first-child {
    float: left;
}
.point-table ul li span:nth-child(2) {
    padding-left: 65px;
    color: rgb(135,135,135);
}
.point-table ul li span:last-child {
    float: right;
}


/*签到弹窗*/
