/*缁戝畾寮圭獥*/
.bind-m-wrap,.bind-m-wrap2{
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    background: rgba(0,0,0,.5);
    z-index:99;
    display: none;
}
.bind-m-wrap .bind-m,.bind-m-wrap2 .bind-m{
    left: 60%;
    top: 60%;
    width:516px;
    margin-top:-200px;
    margin-left:-270px;
    background: #fff;
    position: absolute;
    z-index:100;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding:0 12px;
    -webkit-animation:bounceIn 0.5s;
    -o-animation:bounceIn 0.5s;
    animation:bounceIn 0.5s;
}
.bind-m-top{
    position: relative;
}
.bind-m-top h2{
    line-height:60px;
    color: #f6a200;
}

.bind-m-top .close-bind-m{
    right: 0;
    top:0;
    margin: 15px 0;
    text-align: center;
    position: absolute;
    cursor: pointer;
}
.bind-m-top .close-bind-m i{
    font-size:26px;
    color: #b5b4b4;
}
.bind-m-con dl{
    margin-top:20px;
}
.bind-m-con dl dt{
    width:100px;
    line-height: 45px;
    text-align: right;
}
.bind-m-con dl dd{
    padding-left:12px;
}
.bind-m-con .bind-phone input[type=text]{
    width: 242px;
    height: 43px;
    border:1px solid #dcdcdc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.bind-m-con .bind-phone input[type=button]{
    width:93px;
    height:45px;
    background-color: #f6a200;
    border: none;
    color: #fff;
    font-size:14px;
    cursor: pointer;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.bind-m-con .code input{
    width:344px;
    height: 43px;
    border:1px solid #dcdcdc;
    border-radius: 5px;
}
.sub-bind,.sub-bind2{
    width: 117px;
    height:40px;
    line-height:40px;
    background-color: #f6a200;
    border:none;
    color: #fff;
    font-size:16px;
    cursor: pointer;
    margin:20px 20px 20px 110px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.bind-dec{
    line-height:30px;
    padding:10px 0;
    border-top:1px solid #dcdcdc;
}
.bind-m-wrap input {
    padding: 5px 10px;
}
.bind-m-wrap2 .reg-step select {
    margin-top: 10px;
    border: 1px solid #dcdcdc;
}