/* 初始化CSS */

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0;color:#2d2d2d;font-weight: 400}
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0;outline: none;resize: none;}
table { border-collapse:collapse; }
body { color:#2d2d2d;
    font-size: 12px;
    line-height: 20px;
    background:#fff;
    min-height: 320px;
    font-family:"microsoft yahei";

}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }

fieldset, img { border:none;
    max-width:100% !important;}
img{display: block;}
ul, ol, li{ list-style:none; }
input { padding-top:0; padding-bottom:0; outline: none;color: #666;}
input::-moz-focus-inner { border:none; padding:0; }
button{
    outline: none;
}

img{

    width: 100%;
    height: 100%;
    max-width: 100% !important;
}
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0;outline: none;resize: none;}
table { border-collapse:collapse; }
a { color: rgb(35,35,35); text-decoration:none !important; }
i{
    font-style: normal;
}
a:hover{

    text-decoration: none;
}
em{font-style: normal;}
.left{
    float: left;
}
.right{
    float: right;
}
.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    min-width: 1200px;
}
.border-none{
    border: none !important;
}
.lv_yellow{
    color: #ff9d00;
}
.border_none{
    border:none !important;
}
.m-flex-box{
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}
.m-flex{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
}

/* 父元素-水平居中（主轴是横向才生效） */
.flex-hc {
    /* 09版 */
    -webkit-box-pack: center;
    /* 12版 */
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    /* 其它取值如下：
        align-items     主轴原点方向对齐
        flex-end        主轴延伸方向对齐
        space-between   等间距排列，首尾不留白
        space-around    等间距排列，首尾留白
     */
}

.flex-jz{
    /*-webkit-box-pack: space-between;*/
    /* 12版 */
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}
/* 父元素-纵向排列（主轴） */
.flex-v {
    display: box;              /* OLD - Android 4.4- */

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */


    /* 09版 */
    -webkit-box-orient: vertical;
    /* 12版 */
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
/* 父元素-纵向换行 */
.flex-vw {
    /* 09版 */
    /*-webkit-box-lines: multiple;*/
    /* 12版 */
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
/* 父元素-竖直居中（主轴是横向才生效） */
.flex-vc {
    /* 09版 */
    -webkit-box-align: center;
    /* 12版 */
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}
/* 子元素-显示在从左向右（从上向下）第1个位置，用于改变源文档顺序显示 */
.flex-1 {
    -webkit-box-ordinal-group: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 1;      /* OLD - Firefox 19- */
    -ms-flex-order: 1;              /* TWEENER - IE 10 */
    -webkit-order: 1;               /* NEW - Chrome */
    order: 1;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* 子元素-显示在从左向右（从上向下）第2个位置，用于改变源文档顺序显示 */
.flex-2 {
    -webkit-box-ordinal-group: 2;   /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 2;      /* OLD - Firefox 19- */
    -ms-flex-order: 2;              /* TWEENER - IE 10 */
    -webkit-order: 2;               /* NEW - Chrome */
    order: 2;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* 父元素-横向换行 */
.flex-hw {
    /* 09版 */
    /*-webkit-box-lines: multiple;*/
    /* 12版 */
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.line-comp2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
/*头部公共*/

.lv_header{
    height: 38px;
    line-height: 38px;
    background: #f3f3f3;
    min-width: 1200px;
    color: #9e9e9e;
    font-size: 14px;
}
.lv_header a {
    color: #9e9e9e;
}
.login-sign-before a:hover {
    color: #f6aa00;
}
.login-sign-before {
    display: none;
}
.login-sign-after {
    margin: 6px 0 7px 0;
}
.login-sign-after .lv_logined_pic {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}
.login-sign-after .lv_logined_qian {
    width: 60px;
    height: 25px;
    background-color: #f6a200;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    line-height: 25px;
}


.lv_logined_list{
    width: 140px;
    border:1px solid #dcdcdc;
    background-color: #fff;
    position: absolute;
    right:0;
    top:38px;
    z-index: 10;
    display: none;
}

.lv_logined_list li a{

    display: block;
    font-size:14px;
    position: relative;
    line-height: 55px;
    color: #666;
    padding-left: 20px;
}
.lv_logined_list li a .iconfont {
    margin-right: 14px;
    font-size: 20px;
    vertical-align: middle;
}
.lv_logined_list li a:hover{
    background-color: #f7f7f7;
}


/*搜索*/
.lv_search_wrap{
    padding: 40px 0;
}
.lv_search .lv_logo{
    width: 160px;
    height: 42px;
    overflow: hidden;
    padding: 9px 0;
}
.lv_search_input{
    width: 580px;
    padding-left: 45px;
    padding-right: 10px;
    padding-top: 5px;
    margin-left: 200px;
}
.lv_search_input_in{
    width: 100%;
    height: 32px;
    overflow: hidden;
}
.lv_search_input_in .lv_search_input_in_text{
    width: 500px;
    height: 32px;
    /*border: none;*/
    padding-left: 10px;
    font-size: 14px;
    color: #2d2d2d;
    border: 1px solid #dcdcdc;
    border-radius: 5px;

}
.lv_search_input_in .lv_search_input_in_btn{
    width: 64px;
    height: 32px;
    border-radius: 5px;
    border: none;
    background: #ff9d00;
    color:#fff;
    cursor: pointer;
}
.lv_search_input_in .lv_search_input_in_btn i{
    font-size: 24px;
}
.hold-sou {
    margin-top: 5px;
    margin-left: 10px;
}
.hold-sou span a {
    color: #9e9e9e;
}
.hold-sou span a:hover {
    color: #f6aa00;
}
span.hold-remen {
    color: #f6a200;
}


/*导航*/
.lv_nav-wrap {
    min-width: 1200px;
    width: 100%;
    height: 42px;
    background-color: #f6a200;
}
.lv_nav_in {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    min-width: 1200px;
    line-height: 42px;
}
.lv_nav_in a {
    height: 100%;
    width: auto;
    color: #fff;
    padding: 0 38px;
    display: inline-block;
    font-size: 14px;
}
.lv_nav_right a {
    margin-right: 0;
    line-height: 42px;
}
.lv_nav_left a:hover {
    background-color: #fdab0d;
}
.lv_nav_right a:hover {
    background-color: #fdab0d;
}
.lv_nav_right .iconfont {
    font-size: 25px;
    vertical-align:middle;
}


input::-webkit-input-placeholder{
    color: rgb(145,145,145);
}
input::-moz-placeholder{
    color: rgb(145,145,145);
}
input:-ms-input-placeholder{
    color: rgb(145,145,145);
}


.c_navl .c_nav2_cur,.c_navl a:hover
{
    padding:7px 19px 0;
    border:1px solid #e9e9e9;
    border-bottom:0 none
}
.c_navl .c_nav2_cur .i7
{
    background-position:0 -131px
}
.c_navr a
{
    padding:0 15px;
    line-height:40px
}
.c_nav_m
{
    display: none;
    z-index: 5;
    position: absolute;
    top: 42px;
    width: 1178px;
    padding: 0 10px;
    height: 230px;
    border:1px solid #e9e9e9;
    background-color: #fff;
    transition: width 2s;
    -moz-transition: width 2s; /* Firefox 4 */
    -webkit-transition: width 2s; /* Safari 和 Chrome */
    -o-transition: width 2s; /* Opera */
}
.c_nav_m a {
    color: rgb(135,135,135);
    padding: 0px;
    display: inline;
}
.c_nav_m dl
{
    width: 466px;
    padding: 16px 5px 0 18px;
    line-height: 24px;
    float: left;
}
.c_nav_m dt
{
    height:24px
}
.c_nav_m dt a {
    color: #f6a200;
}
.c_nav_m dd a
{
    margin-right:15px;
    padding: 0px;
    font-size: 13px;
}
.c_blank
{
    _display:none;
    width:128px;
    height:1px;
    margin:-1px 0 0 62px;
    border-top:2px solid #fff
}
.c_nav_pic
{
    position: relative;
    z-index:6;
    top: -60px;
    left: 430px;
    display: inline-block;
    width: 316px;
    height: 206px;
    background:url(../images/cnavpic.png) no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../images/cnavpic.png");
    _background:0 0
}
.lv_nav_left a .iconfont {
    margin-left: 6px;
}










/*banner*/
.lv_banner_wrap{
    position: relative;
    min-width: 1200px;
    width: 100%;
    height: 369px;
    overflow: hidden;
}
.lv_banner_wrap ul{
    width: 100%;
    height: 369px;
    position: absolute;
    left: 0;
    top: 0;
}
.lv_banner_wrap ul li{
    height: 369px;
    float: left;
    min-width: 1200px;
}

/*轮播点*/
.play-dot{
    position: absolute;
    bottom:15px;
    left: 50%;
}
.play-dot li{
    width: 10px;
    height: 10px;
    background: #fff;
    margin: 0 5px;
    float: left;
    border-radius: 50%;
}
.play-dot li.current{
    background: #f6a200;
}
/*左右导航键*/
.arrow-left,.arrow-right{
    width: 40px;
    height: 100px;
    line-height: 100px;
    top: 50%;
    text-align: center;
    background:rgba(0,0,0,.5);
    position: absolute;
    margin-top: -50px;
    color: #fff;
    display: none;
}
.arrow-left i,.arrow-right i{
    font-size: 30px;
}
.arrow-left{
    left: 50px;
}
.arrow-right{
    right: 50px;
}




/*底部信息共用*/
.lv_footer{
    text-align: center;
    clear: both;
    background: #f3f3f3;
    min-width: 1200px;
    padding: 15px 0 40px 0;
}

.lv_footer-line-top {
    padding: 0 247px;
}
.lv_footer-line-bottom {
    padding: 0 214px;
}
.lv_footer-line li{
    float: left;
    /*padding-top: 25px;*/
    /*padding-bottom: 10px;*/
    font-size: 12px;
    color: #2d2d2d;
}
.lv_footer-line-bottom li {
    padding: 10px 16px 0 16px;
}
.lv_footer-line-top li {
    padding: 25px 10px 0 10px;
}
.lv_footer-line li a{
    color: #2d2d2d;
    padding-right: 20px;
    font-size: 12px;
}

.cont-p p{
    line-height: 30px;
    font-size: 14px;
    color: #adadad;
}

.cont-p {
    text-align: center;
    clear: both;
    min-width: 1200px;
    padding: 10px 0;
    background-color: #dddddd;
}


/*分页*/
.lv_page_wrap{
    padding:60px 0;
}