@charset "UTF-8";
.w352{
    width:352px !important;
}

.w186{
    width:186px !important;
}
.w90{
    width:90px !important;
}
.w190{
    width:190px !important;
}
.w108{
    width:108px !important;
}
body{
    background-color: #f6f6f6;
}
.person_conetent{
    margin-top:18px;
}
.person_content_l{
    width:210px;
    background: #fff;
    font-size:16px;
}
.person_content_l .home{
    height:50px;
    line-height:50px;
    padding:0 12px;

    display: block;
}
.person_content_l .home .home_in{
    padding:0 0 0 12px;
    display: block;
    border-bottom:1px solid #dcdcdc;
}
.person_content_l .home.active{
    background-color: #2987e6;
    color: #fff;
}
.person_menu_item .person_menu_title{
    margin:0 12px;
    padding:0 10px;
    line-height:50px;
    height:50px;
    border-bottom:1px solid #dcdcdc;
    cursor: pointer;
    position: relative;
}
.person_menu_item .person_menu_title .arrow{
    position: absolute;
    right:0;
    color: #dfdfdf;
}
.person_menu_item .person_menu_title.active .arrow{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.person_menu_item .person_menu_lsit{
    padding-top:4px;
    display: none;
}
.person_menu_item .person_menu_lsit.active{
    display: block;
}

.person_menu_item .person_menu_lsit li a{
    display: block;
    padding:9px 0 9px 54px;
    font-size:14px;
    position: relative;
}

.person_menu_item .person_menu_lsit li a:before{
    content: '';
    width:4px;
    height:4px;
    background-color: #707070;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    position: absolute;
    left:38px;
    top:50%;
    margin-top:-2px;
}
.person_menu_item .person_menu_lsit li a:hover:before{
    background-color: #fff;
}
.person_menu_item .person_menu_lsit li a.active,.person_menu_item .person_menu_lsit li a:hover{
    color: #2987e6;
}
.person_menu_item .person_menu_lsit li a.active:before,.person_menu_item .person_menu_lsit li a:hover:before{
    background-color:#2987e6;
}

/*右侧展示*/
.person_content_r{
    width:970px;
}

.person_content_r .person_info{
    background-color: #fff;
    min-height:330px;
    margin-bottom:14px;
    padding:0 35px;
}
.person_content_r .person_info .person_info_t{
    padding:40px 0 15px 0;
    border-bottom:1px solid #dcdcdc;
}
/*头像*/
.person_info_t .person_info_t_l{
    width:93px;
    text-align: center;
}
.person_info_t .person_info_t_l .person_id{
    line-height:30px;
    font-size:14px;
    color: #919191;
}
.person_info_t .person_info_t_l .person_info_t_pic{
    width:78px;
    height:78px;
    padding:6px;
    border:1px solid #DCDCDC;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    overflow: hidden;
}
.person_info_t .person_info_t_l .person_info_t_pic img{
    width:100%;
    height:100%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
/*姓名*/
.person_info_mid{
    padding-left:38px;
    width:490px;
}
.person_info_mid .person_name{
    font-size:18px;
    color: #2d2d2d;
    font-weight:normal;
    line-height:40px;
}
.person_info_mid dl{
    line-height:32px;
    font-size:14px;
    color: #919191;
}
.person_xy_box dd{
    width:110px;
    height:32px;
    position: relative;
}
.xy_show{
    width:100px;
    display: inline-block;
    height:15px;
    position: absolute;
    top:50%;
    left:2px;
    margin-top:-7px;
    background: url("../images/star_icon.gif") no-repeat;
}

.person_info_money{
    width:208px;
    padding-left:70px;
    border-left:1px solid #dcdcdc;
}
.person_info_money .money_num{
    font-size: 18px;
    color: #f6821c;
}
.person_info_money dl{
    line-height:30px;
    font-size:14px;
    color: #919191;
}
.person_info_money_btn{
    margin-top:10px;
}
.person_info_money_btn a{
    display: inline-block;
    width:54px;
    height:22px;
    line-height:22px;
    border:1px solid #2987e6;
    color: #2987e6;
    text-align: center;
    margin-right:10px;
}
.person_info_money_btn a:hover{
    background-color: #2987e6;
    color: #fff;
}
.person_info_money_btn .pay_btn{
    background-color: #2987e6;
    color: #fff;
}

    /*订单信息*/
.person_order_info{
    padding:44px 0;
}

.person_order_info .person_order_info_list li{
    float: left;
    width:33.33%;
    padding-left:120px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height:26px;
    color: #919191;
    font-size:16px;
    position: relative;
}
.person_order_info .person_order_info_list li .num{
    color: #ff6700;
}
.person_order_info .person_order_info_list .order_info_icon{
    width:56px;
    height:56px;
    position: absolute;
    left:50px;
    top:50%;
    margin-top:-28px;
    background: url("../images/main_icon.png") 0 -109px;
}
.person_order_info .person_order_info_list .zjy{
    background-position: -56px -109px;
}
.person_order_info .person_order_info_list .dk{
    background-position: -112px -109px;
}

.person_order_info .person_order_info_list li a{
    font-size:14px;
    color: #919191;
}
.person_order_info .person_order_info_list li a:hover,.person_orders .person_orders_title a:hover{
    color: #2987e6;
}

/*订单列表*/
.person_content_r .person_orders{
    height:427px;
    background-color: #fff;
    padding:0 22px;
}
.person_orders .person_orders_title{
    line-height:52px;
    height:52px;
}
.person_orders .person_orders_title h2{
    font-size:16px;
    font-weight: normal;
    color: #919191;
}
.person_orders .person_orders_title a{
    color: #919191;
    font-size:14px;
}

.orders_tab_t{
    height:40px;
    line-height:40px;
    background-color: #f6f6f6;
}
.orders_tab_t{
    font-size:16px;
}
.orders_tab_t .orders_name{
    padding-left:40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.center{
    text-align: center;
}

/*列表*/
.orders_list li{
    padding:15px 0;
    line-height:82px;
    font-size:16px;
    border-bottom:1px solid #eeeeee;
}
.orders_list_xq .orders_list_pic{
    width:110px;
    height:82px;
    margin:0 10px 0 8px;
}
.orders_list_xq .orders_list_pic img{
    width:100%;
    height:100%;
}
.orders_list_xq .orders_list_text{
    font-size:16px;
    color: #919191;
    line-height:30px;
    width:220px;
}
.font-sl{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.orders_list_handle .handle_btn{
    border:1px solid #bfbfbf;
    color: #2d2d2d;
    width:80px;
    height:28px;
    line-height:28px;
    margin-top:25px;
    display: inline-block;
}
.orders_list_handle .handle_btn.handle_qr{
    background-color: #2987e6;
    color: #fff;
    border:1px solid #2987e6;
}

/*暂无订单*/
.no_order{
    text-align: center;
    margin:66px 0;
    padding-top:85px;
    font-size:14px;
    color: #919191;
    position: relative;
}
.no_order .no_order_icon{
    width:57px;
    height:74px;
    background: url("../images/main_icon.png") -443px 0;
    position: absolute;
    left:50%;
    top:0;
    margin-left:-28px;
}
.no_order .go_shop{
    color: #2987e6;
    
}
.no_order .go_shop:hover{
    text-decoration: underline;
}


/*非商家去认证*/
.motel_box{
    width:100%;
    height:100%;
    position: fixed;
    background: rgba(0,0,0,.5);
    left:0;
    top:0;
    z-index:999;
    display: none;
}

.motel_in{
    width:480px;
    height:250px;
    background-color: #fff;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-240px;
    margin-top:-150px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top:50px;
    font-size:18px;
    text-align: center;
    line-height:32px;
    -webkit-animation:bounceIn 0.3s;
    -o-animation:bounceIn 0.3s;
    animation:bounceIn 0.3s;
    display: none;
    z-index:1000;
}
.motel_in.active{
    -webkit-animation:bounceOut 0.3s;
    -o-animation:bounceOut 0.3s;
    animation:bounceOut 0.3s;
    display: none;
}
.motel_in h2{
    font-weight:normal;
    font-size:18px;
}
.motel_in .go_att{
    margin-top:47px;
}
.motel_in .go_att a{
    display: inline-block;
    width:127px;
    height:42px;
    line-height:42px;
    color: #2987e6;
    border:1px solid #2987e6;
    margin:0 15px;
}
.motel_in .go_att a.att_btn,.motel_in .go_att a:hover{
    background-color: #2987e6;
    color: #fff;
}



@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
        transform: scale(.5)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}


@-webkit-keyframes bounceOut {
    100% {
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }

    30% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes bounceOut {
    100% {
        opacity: 0;
        -webkit-transform: scale(.7);
        -ms-transform: scale(.7);
        transform: scale(.7)
    }

    30% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05)
    }

    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}


/*卖家中心*/

.person_status dl{
    margin-right:40px;
}
.person_status .status_sm{
    color: #f6821c;
}
.person_att_status dd a{
    display: inline-block;
    margin-right:2px;
}
.person_att_status dd a.active{
    color: #519eeb;
}
.person_att_status dd a i{
    font-size:18px;
}
.person_order_info_m{
    background: #fff;
    padding:0;
}
.person_order_info_m ul{
    padding:44px 0;
}

.person_order_info_m_t{
    font-size:14px;
    color: #919191;
    padding:25px 0 0 42px;
}

.seller_info_box{
    padding:35px 0;
}
.seller_info_box .seller_info_jy{
    padding-left:56px;
    width:360px;
}
.seller_info_box .seller_info_title{
    font-size:16px;
    height:36px;
}
.seller_info_box .seller_info_jy .jy_data{
    float: left;
    width:110px;
    padding:10px 0;
    font-size:14px;
    color: #919191;
}

.seller_info_box .seller_info_jy .jy_data span,.seller_info_box .seller_info_jy .jy_data:hover{
    color: #f9b284;
}

/*获得评价*/
.seller_info_pj{
    padding:0 120px 0 60px;
}
.seller_info_pj .pj_box{
    margin:0 30px 0 0;
    text-align: center;
    font-size:14px;
    color: #919191;
}
.seller_info_pj .pj_box .flower_icon{
    height:42px;
    display: block;
    color: #000000;
}
.seller_info_pj .pj_box .flower_icon .iconfont{
    font-size:30px;
}
.seller_info_pj .pj_box .flower_icon .icon-haoping{
    color: #f00;
}
.seller_info_pj .pj_box .flower_icon .icon-zhongping{
    color: green;
}
.seller_info_pj .pj_box .flower_icon .icon-haoping{
    color: #f00;
}
    /*服务*/
.seller_info_zh dd{
    line-height:30px;
    color: #919191;
    font-size:14px;
}



/*商家认证*/
.att_wrap{
    background-color: #fff;
    min-height:747px;
}
.att_in{
    padding:0 22px;
}
.att_lc_top{
    padding:25px 70px;
    border-bottom:1px solid #dcdcdc;
}

.att_lc_top .reg_step{

    float: left;
    width:33.33%;
    line-height: 40px;
    text-align: center;
    position: relative;
    font-size:16px;
    color: #919191;
}
.att_lc_top .reg_step.active{
    color: #2987e6;
}
.att_lc_top .reg_step .step_num{
    display: block;
    width:36px;
    height:36px;
    line-height:36px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    border:1px solid #2987e6;
    color: #2987e6;
}

.att_lc_top .reg_step.active .step_num{
    background-color: #2987e6;
    color: #fff;
}
.dot_three{
    position: absolute;
    right:-25px;
    top:0;
}
.dot_three i{
    width:6px;
    height:6px;
    background-color: #e5e5e5;
    display: inline-block;
    margin:0 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}


/*表单*/
.form_wrap{
    margin-top:22px;
}
.att_form_item{
    line-height: 46px;
    margin-top:15px;
}

.att_form_item .form_title{
    width:190px;
    text-align: right;
    padding-right:22px;
    font-size:16px;
}
 .form_input{
    width:344px;
     height:44px;
     line-height:44px;
     font-size:14px;
     color: #2d2d2d;
     border:1px solid #dcdcdc;
     padding-left:10px;
}
 .form_input_end{
     border:none;
 }
 .form_input_dec{
     font-size:14px;
     color: #919191;
     padding-left:15px;
 }

 .form_radio .form_radio_item{
     padding-left:30px;
     padding-right:10px;
     font-size:16px;
     position: relative;
     cursor: pointer;
     margin-right:30px;
 }
.form_radio .form_radio_item b{
    width:18px;
    height:18px;
    border:1px solid #dcdcdc;
    position: absolute;
    left:0;
    top:50%;
    margin-top:-9px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.form_radio .form_radio_item.active b:before{
    width:8px;
    height:8px;
    background-color: #2987e6;
    content: '';
    position: absolute;
    left:50%;
    top:50%;
    margin-top:-4px;
    margin-left:-4px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

.form_status_toggle{
    line-height:24px;
}
.form_status_toggle .form_status_item{
    font-size:14px;
    color: #919191;
    background-color: #f6f6f6;
    padding:20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
    width:508px;
}
.form_status_toggle .form_status_item.active{
    display: block;
}
/*上传头像*/
.upload_pic_btn{
    width:144px;
    height:64px;
    border:1px dashed #dcdcdc;
    background: none;
    font-size:16px;
    color: #919191;
    cursor: pointer;
    position: relative;
    padding-top:80px;
    text-align: center;
    margin:0;
}
.upload_pic_btn2{
    margin:0;
}
.upload_pic_btn .icon_add{
    width:60px;
    height:60px;
    position: absolute;
    left:50%;
    top:20px;
    margin-left:-30px;
    background: url("../images/add_icon.png") no-repeat;
}
#file-list{
    max-width: 430px;
}
#file-list div{
    padding: 15px 0;
}

/*店铺介绍*/
.form_area textarea{
    width:510px;
    border:1px solid #dcdcdc;
    resize: none;
    padding: 15px;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "iconfont";
}

/*手机*/
.form_phone{
    font-size:16px;
}
.form_phone .phone_box{
    padding: 0 15px;
}
.form_phone a{
    color: #2987e6;
}

.area_select select{
    width:122px;
    height:44px;
    line-height:44px;
    border: 1px solid #dcdcdc;
    padding-left:30px;
    font-family:"Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "iconfont";
    margin-right:10px;
}
.next_btn{
    width:197px;
    margin:40px 0 76px 0;
    height:54px;
    line-height:54px;
    text-align: center;
    border:none;
    background-color: #2987e6;
    font-family:"Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "iconfont";
    font-size:16px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}
.perv_btn{
    color: #2987e6;
    padding:0 40px;
    font-size:16px;
}


/*企业认证*/
.upload_pic_btn2{
    width:185px;
    height:44px;
    line-height:44px;
    background-color: #ddedfd;
    color: #2987e6;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.list_box{
    margin:0;
    max-width:430px;
}
.list_box img{
    width:100%;
}
.list_box div{
    padding: 15px 0;

}
/*个人上传身份证*/
.list_box_person{
    width:400px;
    height:250px;
    border:1px dashed #dcdcdc;
    margin-top:15px;
}

/*提交审核*/
.wait_check_box {
    text-align:center;
    margin-top:90px;
    font-size:16px;
}
.wait_icon{
    text-align: center;
}
.wait_icon i{
    font-size:40px;
    color: #b5b5b5;
}
.wait_check_box .wait_tit{
    font-size:16px;
    font-weight:normal;
    line-height:50px;
}
.go_btn{
    width:197px;
    height:54px;
    line-height:54px;
    text-align: center;
    background-color: #2987e6;
    color: #fff;
    display: block;
    margin:58px auto 0;
}


/*认证中心*/
.att_content_top{
    line-height:54px;
    height:54px;
    border-bottom:1px solid #dcdcdc;
}
.att_content_top h2{
    font-size:16px;
    color: #2D2D2D;
    font-weight:normal;
}


/*认证完成后*/

.att_complete_list li{
    padding:16px;
    height:50px;
    line-height:50px;
    border-bottom:1px dashed #dcdcdc;
}
.att_complete_info .info_icon,.att_complete_info .bind_name,.att_complete_info .bind_info{
    display: inline-block;
    font-size:16px;
}
.att_complete_info .info_icon{
    width:46px;
    height:46px;
    line-height:46px;
    text-align: center;
    background-color: #d2e7fc;
    color: #2987e6;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    margin-right:10px;
}
.att_complete_info .info_icon .iconfont{
    font-size:24px;
}
.att_complete_info .bind_info{
    padding:0 20px;
    color: #919191;
}

.att_complete_info .bind_info .bind_status{
    margin-left:12px;
}
.att_complete_info .bind_info .bind_status i{
    color: #2987e6;
    margin-right:5px;
}
.att_complete_btn .btn{
    width:87px;
    height:32px;
    line-height:32px;
    border:1px solid #dcdcdc;
    text-align: center;
    display: none;
    margin:10px 0;
    font-size:14px;
}
.att_complete_btn .btn:hover{
    background-color: #2987e6;
    color: #fff;
    border:1px solid #2987e6;
}
.att_complete_btn .btn.active{
    display: block;
}

.att_complete_btn .go_att{
    background-color: #2987e6;
    color: #fff;
}
/*更改邮箱认证*/
.change_att_box{
    padding-top:46px;
}
.change_att_box .change_att_item{
    margin-bottom:20px;
    line-height:50px;
}
.change_att_box .change_att_item .inp{
    width:325px;
    height:48px;
    line-height:48px;
    padding-left:10px;
    border:1px solid #DCDCDC;
    font-size:16px;
}
.change_att_box .change_att_item .send-code{
    width:152px;
    height:52px;
    line-height:52px;
    background-color: #2987e6;
    color: #fff;
    border:none;
    cursor: pointer;
    font-size:14px;
    margin-left:10px;
}
.change_att_box .change_att_item .send-code.active{
    background-color: #f5f5f5;
    color: #919191;
    cursor: no-drop;
}
.change_att_box .change_att_item .change_att_tit{
    width:80px;
    padding-right:22px;
    text-align: right;
    font-size:16px;
}
.change_save{
    width:205px;
    height:50px;
    line-height:50px;
    text-align: center;
    background: #2987e6;
    color: #fff;
    border:none;
    font-size:16px;
    font-family:"Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "iconfont";
    margin:50px 0 50px 100px;
    cursor: pointer;
}