.bg-repeat{
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    background: #5097fd;
    background: -webkit-linear-gradient(left, #768cff , #4f97fd); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right,#768cff , #4f97fd); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #768cff , #4f97fd); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #768cff , #4f97fd); /* 标准的语法 */

}
.get-password-box{
    padding:0.24rem 0.24rem 0;
    position: relative;
    z-index:99;
}
.get-password{
    width:100%;
    min-height:11.86rem;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.get-password-top{
    line-height:0.68rem;
    position: relative;
}
.get-password-top .back{
    padding:0 0.2rem 0 0.72rem;
    position: absolute;
    left:0;
    top:0;
    font-size:14px;
    color: #919191;
}
.get-password-top .back .back-icon{
    width:0.4rem;
    height:0.4rem;
    background: url("../img/getback.jpg") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
    position: absolute;
    left:0.2rem;
    top:50%;
    margin-top:-0.2rem;
}
.get-password-top h2{
    text-align: center;
    font-size:0.34rem;
}
/*flow*/
.flow-list{
    padding:1.1rem 0;
    text-align: center;
    border-bottom:1px dashed #dcdcdc;
    position: relative;
}
.flow-list:before,.flow-list:after{
    content: "";
    width:0.36rem;
    height:0.36rem;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    bottom:-0.18rem;

    position: absolute;

}
.flow-list:before{
    left:-0.18rem;
    background-color: #7a8bff;
}
.flow-list:after{
    right:-0.18rem;
    background-color: #4f96fd;
}
.flow-list a{
    display: inline-block;
    width:0.8rem;
    height:0.8rem;
    line-height:0.8rem;
    text-align: center;
    background-color: #eeeeee;
    color: #d5d5d5;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    margin:0 0.3rem;
}
.flow-list a.active{
    color: #4f97fd;
    background-color: #d6e1ff;
}
.flow-list a .iconfont{
    font-size:0.32rem;
}

/*填写信息*/
.get-password-con{
    padding:0.76rem;

}
.get-password-item{
    padding:0.2rem 0;
    line-height:0.6rem;
    border-bottom:1px solid #dcdcdc;
}
.get-password-item input[type=text],.get-password-item input[type=password]{
    width:100%;
    height:0.6rem;
    border:none;
}
.get-password-item .send-code{
    background:none;
    border: none;
    color: #4f97fd;
    width:3.8rem;
    border-left:1px solid #dcdcdc;
}
.get-pass-next{
    text-align: center;
}
.get-pass-next button,.get-pass-next .go-login{
    width:4rem;
    height:0.8rem;
    line-height:0.8rem;
    text-align: center;
    color: #2d2d2d;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    background: none;
    font-size:14px;
    border:1px solid #dcdcdc;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, "WenQuanYi Micro Hei", Verdana, sans-serif, "\5B8B\4F53"\;
}
/*修改成功*/
.change-success{
    text-align: center;
    padding-top:1.6rem;
    position: relative;
}
.change-success .success-icon{
    width:1.14rem;
    height:0.72rem;
    background: url("../img/success-icon.jpg") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
    position: absolute;
    left:50%;
    top: 0.5rem;
    margin-left: -0.62rem;
}
.change-success p{
    color: #919191;
}
.get-pass-next .go-login{
    background-color: #4f97fd;
    color: #fff;
    display: inline-block;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, "WenQuanYi Micro Hei", Verdana, "\5B8B\4F53";
    border:1px solid #4f97fd;
}