@charset "UTF-8";
.m-zj-box{

    background-color: #fff;
}
.m-zj-top{
    padding:0 0.2rem;
    line-height:0.9rem;
}
.m-more{
    padding:0 0 0 0.2rem;
    color: #919191;
    font-size:13px;
}
.m-zj-top .m-main-title{
    padding-left:0.5rem;
    position: relative;
}
.m-zj-top .m-main-title:before{
    left:0;
    top:50%;
    content: '';
    width:0.4rem;
    height:0.4rem;
    position: absolute;
    margin-top:-0.15rem;
    background: url("../img/icon-title.png") 0 0 no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
}

/*在线专家*/
#online{
    padding:0.1rem  0.1rem 0.68rem  0.1rem;
}
.online-item{
    width:45%;
    background: #fff;
    margin: 0 0.05rem;
}
.online-item .online-item-in{
    background: #fff;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);

}
.online-item .online-pic{
    width:100%;
}
.online-con{
    padding:0 0.1rem 0.4rem;
    position: relative;
}
.online-con .online-name{
    line-height:0.66rem;
    text-align: center;

}
.online-con .online-name .name{
    font-size:16px;
}
.online-con .online-name .zc{
    font-size:14px;
}
.online-con .dec{
    font-size:14px;
    text-align: center;
    padding:0 0 0.1rem 0;
}
.zx-btn{
    bottom:-0.3rem;
    position: absolute;
    width:80%;
    left:50%;
    height:0.6rem;
    line-height:0.56rem;
    background: #4f97fd;
    color: #fff;
    text-align: center;
    margin-left: -40%;
    z-index:9;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
}
/*问题列表*/
.m-index-q{
    padding:0 0.2rem;
    background-color: #fff;
}
.m-q-top{
    line-height:0.8rem;
}
.m-q-top .m-q-nav a{
    font-size:16px;
    padding:0 0.2rem;
    display: inline-block;
}
.m-q-top .m-q-nav a.active{
    color: #4f97fd;
}



.js-hot-list{
    display: none;
}
.js-hot-list.active{
    display: block;
}
.m-q-list-ul li{
    border-bottom:1px dashed #dcdcdc;
    padding-top:0.32rem;
}
.m-q-list-ul li:last-child{
    border-bottom:none;
}

.m-q-list-ul li .user-pic a{
    display: block;
    width:1rem;
    height:1rem;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    overflow: hidden;
}
.m-q-list-ul li .m-q-list-con{
    padding-left:0.36rem;
    font-size:14px;
    line-height:0.46rem;
}
.m-q-list-con-top{
    max-width:5.6rem;
}
.m-q-list-con-top a{
    display: block;
}
.m-q-list-con-top .q-name{
    font-size:15px;
}
.m-q-list-ul li .m-q-list-con .q-text{
    width:100%;
}
.m-q-list-con-bot{
    padding-top:0.32rem;
    padding-bottom:0.2rem;
}
.m-q-list-con-bot .m-q-tips a{
    display: inline-block;
    width:1.2rem;
    line-height:0.52rem;
    text-align: center;
    background-color:#eee;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    color: #919191;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right:0.06rem;
    margin-bottom:0.06rem;
    padding:0 0.06rem;
}
.m-q-time{
    font-size:12px;
    line-height:0.56rem;
    color: #919191;
}
.m-q-time span{
    padding:0 0.05rem;
    position: relative;
}
.m-q-time .jifen{
    padding-left:0.5rem;
}
.jinbin-icon{
    width:0.42rem;
    height:0.42rem;
    position: absolute;
    left:0;
    top:50%;
    margin-top:-0.21rem;
    background: url("../img/jinbi.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}

/*常见问题疾病*/
.common{
    background-color: #fff;
}
.common-title{
    margin:0 0.2rem;
    line-height:0.8rem;
    font-size:0.3rem;
    background: #fff;
    border-bottom:1px solid #dcdcdc;
}
.common-title .m-main-title{
    padding-left:0.4rem;
    position: relative;
}
.common-title .m-main-title:before{
    left:0;
    top:50%;
    content: '';
    width:0.4rem;
    height:0.4rem;
    margin-top: -0.2rem;
    position: absolute;
    background:url("../img/icon-title.png") 0 -0.3rem no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
}
.common-con{
    margin:0 0.2rem;

}
#common-nav{
    width:100%;
    padding:0.3rem 0;

}
#common-nav a{
    line-height:0.52rem;

    text-align: center;
    float: left;
}
#common-nav a.active{
    color: #fff;
    background-color: #4f97fd;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}

/*问题*/
.q-tile{
    height:0.45rem;
    font-size:14px;
}

/*医生列表*/
.doctor-content-top{
    padding:0 0.2rem;
    background-color: #fff;
    margin-bottom:0.15rem;
}
.doctor-content-top h2{
    padding:0.32rem 0;
    padding-left:0.2rem;
    position: relative;
}

.doctor-content-top h2:before{
    content: '';
    border-left:0.08rem solid #4f97fd;
    position: absolute;
    height:0.3rem;
    left:0;
    top:50%;
    margin-top:-0.15rem;
}

.doctor-content-tab-in a{
    width:20%;
    text-align: center;
    line-height:0.52rem;
    margin:0.15rem 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size:14px;
}
.doctor-content-tab-in a.active,.doctor-content-more a.active{
    background-color: #4f97fd;
    color: #fff!important;
}
.expert-online-content-list{
    padding:0.2rem 0.1rem;
    background-color: #fff;
}
.expert-online-content-list li{
    width: 50%;
    margin-bottom:0.2rem;
}
.expert-online-content-in{
    width: 3.35rem;
    position: relative;
    border:1px solid #dcdcdc;
    margin:0 auto;
}
.expert-pic{
    width: 100%;
    height: 3.21rem;
    overflow: hidden;

    position: relative;
}
.pic-dot{
    width: 6px;
    height: 6px;
    position: absolute;
    background: url(../img/pic-dot.png) no-repeat;
}
.dot-left-top{
    left: 6px;
    top: 6px;
}
.dot-left-bottom{
    left: 6px;
    bottom: 6px;
}
.dot-right-top{
    right: 6px;
    top: 6px;
}
.dot-right-bottom{
    right: 6px;
    bottom: 6px;
}
.expert-info-box{
    padding: 0 0.2rem;
}
.expert-info-box .expert-info-name{
    font-size: 16px;
    color: #2d2d2d;
    text-align: center;
    border-bottom: 1px dashed #dcdcdc;
    position: relative;
    padding: 0.08rem 0;
}
.expert-info-box .expert-info-name span{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 48%;
}
.expert-info-box .expert-info-name .doc-zc{
    color: #4c8cd9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:14px;
}
.expert-info-box .expert-info-name:before,
.expert-info-box .expert-info-name:after

{

    bottom: -2px;
    content: "";
    width: 4px;
    height: 4px;
    background: #dcdcdc;
    border-radius: 50%;
    position: absolute;
}
.expert-info-box .expert-info-name:before{
    left: 0;
}
.expert-info-box .expert-info-name:after{
    right: 0;
}
.expert-info-box .expert-info-zc{
    line-height: 0.62rem;
    font-size: 14px;
    text-align: center;
    color: #2d2d2d;
}
.expert-ask{
    padding: 0.16rem 0;
    text-align: center;
}
.expert-ask a{
    display: inline-block;
    border:1px solid #dcdcdc;
    line-height: 0.52rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    font-size: 14px;
    color: #4f97fd;
    width:1.4rem;
    margin:0 0.08rem 0 0.08rem;

}
.doctor-content-more{
    height:0;
    overflow: hidden;
}
.doctor-content-more.active{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    height:auto;
    overflow: hidden;
    border-top:1px dashed #dcdcdc;
}
.doctor-content-more a{
    width:25%;
    text-align: center;
    font-size:14px;
    line-height: 0.52rem;
    margin: 0.15rem 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.scrollload-bottom{
    background-color: #fff;
}

.js-search i{
    font-size:0.36rem;
}