body{
    padding-bottom:0;
}
.office-class{
    padding:0 0.24rem;
}
.office-class-list li{
    border-bottom:1px dashed #dcdcdc;

}
.office-class-list li .office-class-list-t{
    line-height:1rem;
}
.office-class-list li .office-class-list-t b{
    font-size:12px;
}
.office-class-list li .arrow{
    color: #919191;
    font-weight: bold;

}
.office-class-list li.active .arrow{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.more-list{
    border-top:1px solid transparent;
    height:0;
    overflow: hidden;

}
.office-class-list li.active .more-list{
    height:auto;
    border-top:1px solid #dcdcdc;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
}
.more-list .more-list-item h2{
    line-height:0.8rem;
    padding:0.1rem 0;
}

.more-list .more-list-item-box a{
    padding:0 0.2rem;
    line-height:0.7rem;
    border:1px solid #dcdcdc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin:0 0.25rem 0.25rem 0;
    font-size:14px;
}