@charset "UTF-8";
/*center*/
.person-center-top{
    height:4.3rem;
    width:100%;
    background: url("../img/center/head-bg.png") left center no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    position: relative;
}
.person-center-top-btn{
    position: relative;
    height:0.8rem;
}
.person-center-top .set-line,.person-center-top .message-line{
    position: absolute;

    top:0;
    width:0.8rem;
    height:0.8rem;
    line-height:0.8rem;
    text-align: center;
    color: #fff;
}
.person-center-top .set-line{
    left:0;
}
.person-center-top .message-line{
    right:0;
}
.person-center-top .set-line .iconfont,.person-center-top .message-line .iconfont{
    font-size:26px;
}

/**/
.user-info-top{
    text-align: center;
    color: #fff;
}
.user-info-pic{
    width:1.65rem;
    height:1.65rem;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    overflow: hidden;
    margin:0 auto;

}
.user-info-name-box{
    padding:0.18rem 0;
    line-height:0.5rem;

}
.user-info-name-box .att-btn{
    display: inline-block;
    border:1px solid #dcdcdc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    color: #fff;
    margin-left:0.2rem;
    font-size:0.2rem;
    padding:0 0.1rem;
}
.user-info-other{
    text-align: center;
}
.user-info-other a{
    display: inline-block;
    text-align: center;
    color: #fff;
    padding:0 0.24rem;
    position: relative;
}
.user-info-other a.has-border:before{
    content: '';
    border-left:1px solid #8cc0ff;
    height:0.3rem;
    position: absolute;
    left:0;
    top:50%;
    margin-top: -0.15rem;
}

/*z主内容*/
.person-main-list{
    padding-bottom:1rem;
    background-color:#fff;
}
.person-main-list li.person-main-sign{
    padding:0.3rem 0.2rem 0.3rem 0.66rem;
    line-height:0.62rem;
    background: #fff;
    margin:0.1rem 0 0 0;
    position: relative;
    border-bottom:0.1rem solid #f7f7f7;
}

.sign-btn{
    width:1.2rem;
    height:0.6rem;
    background-color: #6eaaff;
    text-align: center;
    color: #fff;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}
.person-main-list li.item{
    line-height:1rem;
    background: #fff;
    padding:0 0.2rem;
}

.person-main-list li.item a{
    display: block;
    border-bottom:1px dashed #dcdcdc;
    padding-left:0.56rem;
    position: relative;
}
.person-main-list li.item a:before,.person-main-list li.person-main-sign:before{
    left:0;
    top:50%;
    content: '';
    width:0.4rem;
    height:0.4rem;
    position: absolute;
    margin-top:-0.2rem;
    background: url("../img/center/center-icon.png") 0 0 no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
}
.person-main-list li.person-main-sign:before{
    left:0.2rem;
}
.person-main-list li.item a.wallet-icon:before{
    background-position: 0 -0.5rem;
}
.person-main-list li.item a.att-icon:before{
    background-position: 0 -1rem;
}
.person-main-list li.item a.ask-icon:before{
    background-position: 0 -1.5rem;
}
.person-main-list li.item a.message-icon:before{
    background-position: 0 -2rem;
}
.person-main-list li.item a.basic-icon:before{
    background-position: 0 -2.5rem;
}
.person-main-list li.item a.doc-icon:before{
    background-position: 0 -3rem;
}


/*qiandao*/


/*签到 */
.calendar-wrap{
    background-color: #80b5ff;
    width:96%;
    margin:0.15rem auto;
    padding-bottom:0.3rem;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    position: relative;

}
.calendar-wrap:before{
    content: '';
    width:95%;
    height:0.3rem;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    position: absolute;
    bottom:-0.15rem;
    left:50%;
    margin-left:-47%;
    background-color: #7aaef9;
    z-index:-1;
}
.calendar-wrap .signin{
    display: block;
    margin:0 auto;
    height:0.66rem;
    width:2rem;
    line-height:0.66rem;
    text-align: center;
    color: #fff;
    background-color: #b3d9ff;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}
.calendar-wrap .signin.active{
    background-color: #f7f7f7;
    color: #919191;
}
#calendar{

    color: #fff;
}

.singer_r_img span {
    margin-left: 14px;
    font-size: 16px;
    font-family: 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif !important;
    font-weight: 700;
}

.singer_r_img.current {
    border: 0;
    text-decoration: none;
}

.sign table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.sign th,
.sign td {
    width: 0.4rem;
    height: 0.6rem;
    text-align: center;
    line-height: 0.6rem;
}

.sign th {
    font-weight:normal;
}

.sign td {
    vertical-align: middle;
    position: relative;
}

.sign .on:before{
    content: '';
    left:50%;
    top:50%;
    width:0.6rem;
    height:0.6rem;
    margin-left:-0.3rem;
    margin-top:-0.3rem;
    border:1px solid #fb8d34;
    border-radius: 50%;
    position: absolute;
}

/*.calendar_month_next,*/
/*.calendar_month_prev {*/
    /*width: 34px;*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*cursor: pointer;*/
    /*!*background: url(images/sign_arrow.png) no-repeat;*!*/
/*}*/

.calendar_month_next {
    float: right;
    background-position: -42px -6px;
}

.calendar_month_span {
    display: inline;
    line-height:1.16rem;
    font-size: 16px;
    letter-spacing: 2px;
}

.calendar_month_prev {
    float: left;
    background-position: -5px -6px;
}

.sign_succ_calendar_title {
    text-align: center;
    border-bottom:1px dashed #dcdcdc;
    position: relative;
}
.sign_succ_calendar_title:before,.sign_succ_calendar_title:after{
    content: '';
    width:0.26rem;
    height:0.26rem;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: #fff;
    position: absolute;

    bottom:-0.13rem;
}
.sign_succ_calendar_title:before{
    left:-0.13rem;
}
.sign_succ_calendar_title:after{
    right:-0.13rem;
}
.sign_main {
    font-family: "Microsoft YaHei", SimHei;
}

.manifest{
    padding:0 0.15rem;
}
.manifest-top{
    padding:0.46rem 0 0.23rem 0;
    line-height:0.52rem;
    color: #919191;
}
.manifest dl{
    line-height:0.42rem;
    color: #919191;
}
.manifest dl dt{
    line-height:0.52rem;
}



/*我的关注*/
.person-center-fans{
    padding:0 0.24rem;
}
.person-center-fans .fans-list li{
    padding:0.4rem 0;
    border-bottom:1px dashed #dcdcdc;
}
.person-fans-pic{
    width:1.2rem;
    height:1.2rem;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    overflow: hidden;
    margin-right:0.2rem;
}
.person-fans-pic img{
    width:100%;
    height:100%;
}
.person-fans-info-text{
    max-width:3.5rem;
    color: #919191;
    font-size:14px;
}
.info-name{
    display: inline-block;
    position: relative;
    padding-right:0.05rem;
}
.info-zc{
    font-size:12px;
}
.info-name-box{
    max-width:3.5rem;
    position: relative;

}
/*.info-name-box .sex-icon,.person-index-info-head .sex-icon{*/
    /*width:20px;*/
    /*height:20px;*/
    /*background: url("../images/nv.png") center center no-repeat;*/
    /*-webkit-background-size:contain;*/
    /*background-size:contain;*/
    /*position: absolute;*/

    /*top:50%;*/
    /*right:0;*/
    /*margin-top:-10px;*/
/*}*/
/*.person-index-info-head .sex-icon{*/
    /*width:0.2rem;*/
    /*height:0.2rem;*/
    /*background: url("../images/nv.png") center center no-repeat;*/
    /*-webkit-background-size:contain;*/
    /*background-size:contain;*/
    /*position: absolute;*/
    /*margin-left: -0.1rem;*/
    /*top:50%;*/
    /*left:50%;*/
    /*margin-top:-0.1rem;*/
/*}*/
/*.info-name-box .sex-icon.sex-nan,.person-index-info-head .sex-icon.sex-nan{*/
    /*background: url("../images/nan.png") center center no-repeat;*/
    /*-webkit-background-size:contain;*/
    /*background-size:contain;*/
/*}*/
/*.person-index-info-head .sex-icon-box{*/
    /*width:0.3rem;*/
    /*height: 0.3rem;*/
    /*position: absolute;*/
    /*rightrem*/
    /*bottom:0;*/
    /*background: #fff;*/
    /*-webkit-border-radius:50%;*/
    /*-moz-border-radius:50%;*/
    /*border-radius:50%;*/
/*}*/
.info-name-box{
    line-height:0.6rem;
}
.fans-list .status-btn{
    padding:0 0.15rem;
    height:0.48rem;
    line-height:0.48rem;
    text-align: center;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    border:1px solid #2c72ac;
    color: #2c72ac;
    font-size:14px;
}
.fans-list .status-btn.active{
    border:1px solid #e5e5e5;
    background-color:#e5e5e5;
    color: #919191;
}

/*我的提问-我的回答*/
.header-tab{
    height:0.98rem;
    line-height:0.98rem;
    border-bottom:1px solid #dcdcdc;
}
.header-tab a{
    width:100%;
    text-align: center;
    margin:0 0.2rem;
    color: #2d2d2d;
}
.header-tab a.active{
    border-bottom:0.05rem solid #4f97fd;
}
.answer-content .answer-title{
    padding:0 0 0.15rem 0;
}
.answer-content p{
    color: #919191;
    font-size:14px;
    line-height:0.4rem;
}
.answer-status{
    color: #919191;
    font-size:14px;
    padding-top:0.2rem;
}
.answer-status span{
    padding:0 0.15rem;
    display: inline-block;
}
.answer-status span.ycn{
    color: #fa7c16;
}
/*我的消息*/
.message-box li:last-child{
    border-bottom: none;
}
.message-content{
    position: relative;
}
.message-content .message-icon{
    width:0.8rem;
    position: relative;
}
.message-content .message-icon span{
    width:0.6rem;
    height:0.4rem;
    position: absolute;
    left:0;
    top:0;
    background: url("../img/center/message-icon.png") no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
}
.message-content .message-content-in{
    font-size:14px;
}
.message-content .message-content-in .message-question-title{
    padding:0.15rem 0 0 0;
    font-size:15px;
}
.message-content-in .time{
    color: #919191;
    padding-top:.2rem;
    display: block;
}
.message-content .del{
    width:0.6rem;
    text-align: right;
}
.message-content .del .iconfont{
    color: #919191;
}
.public-right-btn .save-btn{
    width:1.2rem;
    height:0.4rem;
    line-height: 0.4rem;
    text-align: center;
    border: 1px solid #fff;
    display: inline-block;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    font-size:0.3rem;
}

/*基本资料*/
.person-content-basic{
    padding:0 0.24rem;
}
.person-content-basic .basic-list li{
    padding:0.3rem 0;
    line-height:0.5rem;
    height:0.5rem;
    border-bottom:1px solid #dcdcdc;
}
.person-content-basic .type-name{
    padding-right:0.36rem;
}
.person-content-basic .basic-list li input{
    width:100%;
    height:100%;
    border:none;
}

/*性别选择*/
.sex-choose-modal{
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    background: rgba(0,0,0,.7);
}
.sex-choose-modal .sex-choose-down{
    width:6rem;
    height:4rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;;
    position: absolute;
    left:50%;
    top:50%;
    margin-top:-2rem;
    margin-left:-3rem;
    background-color: #fff;
    padding:0.24rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation:zoomIn 0.5s;
    -o-animation:zoomIn 0.5s;
    animation:zoomIn 0.5s;

}

.sex-choose-modal.active .sex-choose-down{
    -webkit-animation:zoomOut 0.5s;
    -o-animation:zoomOut 0.5s;
    animation:zoomOut 0.5s;
}
.sex-choose-modal.active{
    display: none;
}
.sex-choose-modal .sex-choose-down h2{
    border-bottom:1px dashed #dcdcdc;
    line-height:0.66rem;
}
.sex-choose-modal .sex-choose-down li{
    line-height:1.1rem;
    position: relative;
}
.sex-choose-modal .sex-choose-down li b{
    width:0.3rem;
    height:0.3rem;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    border:1px solid #4f97fd;
    position: absolute;
    right:0;
    top:50%;
    margin-top:-0.15rem;
}
.sex-choose-modal .sex-choose-down li b.active:before{
    content: "";
    width:0.14rem;
    height:0.14rem;
    background-color: #4f97fd;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-0.07rem;
    margin-top:-0.07rem;
}
/*upload*/
.person-content-basic .basic-list li.upload-pic-box{
    border:none;
}

.img-show{
    max-width:1.6rem;
    height:1.6rem;
    overflow: hidden;
    margin:0 0.2rem;
}
.img-show img{
    width:100%;
    height:auto;
}
.upload-btn{
    width:1.6rem;
    height:1.6rem;
    position: relative;
    background: url("../img/center/upload-bg.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.upload-btn input{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}


/*设置中心*/
.person-content-set,.bind-box,.change-pass,.reg-phone{
    padding:0 0.24rem;
}
.person-content-set ul li{
    line-height:1.16rem;
    border-bottom:1px dashed #dcdcdc;
}
.person-content-set ul li .iconfont{
    color: #dcdcdc;
    font-weight: bold;
}
.person-content-set .close-user{
    width:3.43rem;
    height:0.72rem;
    line-height:0.72rem;
    text-align: center;
    border-bottom:0.08rem solid #317eec;
    background-color: #6eaaff;
    color: #fff;
    display: block;
    margin: 3rem auto 0;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}

/*账号绑定*/
.bind-box ul li{
    line-height:0.68rem;
    border-bottom:1px dashed #dcdcdc;
    padding:0.42rem 0;
}
.bind-box ul li .bind-icon{
    width:1.1rem;
    position: relative;
}
.bind-box ul li .bind-icon .icon-default{
    left:50%;
    top:50%;
    width:0.6rem;
    height: 0.6rem;
    margin-left:-0.3rem;
    margin-top:-0.3rem;
    background: url("../img/center/bind-icon.jpg") 0 0 no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    position: absolute;
}
.bind-box ul li .bind-icon .icon-qq{
    background-position: 0 -0.6rem;
}
.bind-box ul li .bind-icon .icon-qq.active{
    background-position: 0 -2.4rem;
}
.bind-box ul li .bind-icon .icon-wx{
     background-position: 0 -1.2rem;
 }
.bind-box ul li .bind-icon .icon-wx.active{
    background-position: 0 -3rem;
}
.bind-box ul li .bind-icon .icon-email{
    background-position: 0 -1.8rem;
}
.bind-box ul li .bind-icon .icon-email.active{
    background-position: 0 -3.6rem;
}
.bind-box ul li .bind-btns{
    width:1.62rem;
    text-align: center;
    line-height:0.62rem;
}
.bind-box ul li .bind-btns a{
    padding:0 0.3rem;
    height:0.44rem;
    line-height:0.44rem;
    text-align: center;
    background-color: #6eaaff;
    font-size:14px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: none;
}
.bind-box ul li .bind-btns a.active{
    display: inline-block;
}
.bind-box ul li .bind-btns a.change-btn{
    background-color: #dcdcdc;
    color: #919191;
}
.bind-box ul li .bind-info{
    line-height:0.4rem;
}

/*changePASS*/
.change-pass-item{
    padding:0.3rem;
    line-height:0.4rem;
    border-bottom:1px solid #dcdcdc;
}
.change-pass-item input{
    width:100%;
    height:100%;
    border:none;
}
.change-pass-name{
    width:1.4rem;
    margin-right:0.15rem;
}
.change-save{
    text-align: center;
    padding:2.3rem 0;
}
.change-save button{
    width:5.8rem;
    height:0.83rem;
    line-height:0.83rem;
    text-align: center;
    background-color: #6eaaff;
    border:none;
    color: #fff;
    font-size:16px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, "WenQuanYi Micro Hei", Verdana, sans-serif, "\5B8B\4F53";
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}

/*change_phone_bind*/
.reg-phone-item{
    padding:0.22rem 0;
    line-height:0.6rem;
    border-bottom:1px solid #dcdcdc;
}
.reg-phone-item .reg-phone-item-l{
    width:1.82rem;
    text-align: center;
}
.reg-phone-item .reg-phone-item-inp input{
    width:100%;
    height:100%;
    border:none;
    padding-left:0.15rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.reg-phone-item .reg-phone-item-btn{
    width:1.66rem;
    height:0.6rem;
    line-height:0.6rem;
    text-align: center;
}
.reg-phone-item .reg-phone-item-btn input{
    width:100%;
    height:100%;
    border:none;
    background-color: #56a2ff;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn{
    width:4.47rem;
    height:0.8rem;
    line-height:0.8rem;
    text-align: center;
    color: #fff;
    background-color: #56a2ff;
    display: block;
    margin:0.8rem auto;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.reg-phone-item .reg-phone-item-btn .send-code.active{
    color: #fff;
    background-color: #dcdcdc;
}

/*医生信息*/
.auditing{
    text-align: center;
    padding:0.3rem 0;
    color: #919191;
}
.auditing .iconfont{
    margin-right: 0.15rem;
}
.doctor-info-box{
    padding:0 0.24rem;
}
.doctor-info-box ul li{
    min-height:1rem;
    padding:0.15rem 0;
    border-bottom:1px solid #dcdcdc;
}
.doctor-info-box ul li .doctor-pic{
    width:1.12rem;
    height:1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}
.doctor-info-text{
    color: #919191;
    max-width:4.8rem;
}
.doctor-info-text input{
    height:1rem;
    border:none;
    outline: none;
    text-align: right;
    font-size:16px;
    color: #919191;
}
/*医生信息认证*/
.attestation-top{
    padding:0.3rem 0;
    background-color: #fff;
    margin-bottom:0.15rem;
    position: relative;
}
.attestation-top:before{
    content: '';
    border-bottom:1px solid #4f97fd;
    position: absolute;
    top:50%;
    left:50%;
}
.attestation-top a{
    width:33.33%;
    text-align: center;
}
.attestation-top .att-count{
    display: inline-block;
    width:0.3rem;
    height:0.3rem;
    line-height:0.3rem;
    text-align: center;
    border:1px solid #4f97fd;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    font-size:12px;
    color: #4f97fd;
    margin-bottom:0.15rem;
    position: relative;
}
.attestation-top .att-count.active{
    background-color: #4f97fd;
    color: #fff;
}
.attestation-top .att-count-line:before{
    content: '';
    width:1.8rem;
    border-bottom:1px solid #4f97fd;
    position: absolute;
    left:0.5rem;
    top:50%;
}
.js-doctor-change{
    background-color: #fff;
    padding-bottom:0.8rem;
}

/*内容填写*/
.content-madel{
    position: fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background: rgba(0,0,0,0);
    z-index:-1;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    overflow: hidden;

}
.content-madel.on{
    z-index: 999 !important;
    background: rgba(75, 75, 75, 0.65) !important;

}
.content-name{
    width: 100%;
    height: 310px;
    position: absolute;
    bottom: 0;
    transform: translate3d(0, 310px, 0);
    -webkit-transform: translate3d(0, 310px, 0);
    left: 0;
    background-color: #FFF;
    transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
    z-index: -1;
}
.content-name.active{
    transform: translate3d(0, 0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;

}
.content-name-inp{
    position: absolute;
    top:50px;
    left:0;
    width:100%;
    padding:0 0.3rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.content-name-inp input{
    width:100%;
    height:40px;
    border:none;
    padding-left:15px;
    border-bottom:1px solid #dcdcdc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*认证信息上传头像*/
.step-wrap{


}
.step-item{
    padding:0 0.24rem 0.38rem;
    background-color: #fff;
    margin-bottom:0.15rem;
}
.step-item-content{
    line-height:0.46rem;
    font-size:14px;
}
.step-item-title{
    color: #4f97fd;
    line-height:0.92rem;
}
.step-item-pic{
    width:1.92rem;
    height:1.92rem;
    line-height:1.5rem;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right:0.2rem;
    overflow: hidden;
    background-color: #e5e5e5;
    font-size:120px;
    color: #dcdcdc;
    position: relative;
}
.step-item-pic input[type=file]{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    opacity:0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}


.loading-box{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background: #fff;
    display: none;
    background: url("../img/center/loading.gif") center center no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}

/*认证完成*/

.attestation-box-success{
    background-color: #fff;

}
.attestation-success{
    text-align: center;
    margin-top:1.4rem;
    padding:0.8rem 0.24rem 0;
    position: relative;
}
.attestation-success h2{
    padding-bottom:0.4rem;
}
.attestation-success .attestation-success-icon{
    width:0.5rem;
    height:0.5rem;
    background: url("../img/center/att-success-icon.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
    position: absolute;
    left:50%;
    top:0;
    margin-left:-0.25rem;
}