/* 初始化CSS */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0;}
body{background: #fff;}
fieldset, img { border:none;}
img{display: block;}
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; outline: none;color: #666;}
input::-moz-focus-inner { border:none; padding:0; }
button{
	outline: none;
}
.gt{
	font-family: "宋体";
}
img{
	width: 100%;
	height: 100%;
}
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0;outline: none;resize: none;}
table { border-collapse:collapse; }
body { color:#666; 
	font-size: 12px;
	line-height: 20px;
	background:#fff;
	min-height: 320px;
	font-family:"microsoft yahei"; 
	
}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }
a { color:#2d2d2d; text-decoration:none !important; }
i{
	font-style: normal;
}
a:hover{

	text-decoration: none;
}
em{font-style: normal;}
.red{
	color:#f00;
}
.blue{
	color: #4c8cd9 !important;
}
.yellow{
	color: #fda61a !important;
}
.green{
	color: #2cc327 !important;
}
.q-size{
	font-weight: bold;
}
.b2{
	color: #0086cb;
}
.left{
	float: left;
}
.right{
	float: right;
}
.container{
	width: 1170px;
	margin: 0 auto;
	position: relative;
	min-width: 1000px;
}
.border-right-none{
	border-right: none !important;
}
.border-none{
	border: none !important;
}
.font-sl{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/*头部公共部分*/
.vip-choose{
	width:100%;
	height:100%;
	position: fixed;
	background: rgba(0,0,0,.5);
	z-index:9999;
}
.vip-choose .vip-choose-in{
	left:50%;
	top:50%;
	width:580px;
	height:280px;
	margin-left:-290px;
	margin-top:-140px;
	position: absolute;
}
.vip-choose .vip-choose-in .vip-choose-item{
	width:280px;
	height:95px;
	background-color:#fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	text-align: center;
	position: relative;
	padding-top:195px;
}
.vip-choose-icon{
	width:114px;
	height: 114px;
	line-height:114px;
	text-align: center;
	position: absolute;
	top:40px;
	left:50%;
	margin-left: -57px;
	background-color: #d7e1df;
	color: #7a9b94;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.vip-choose-icon.vip-icon-user{
	background-color: #b8d1e9;
	color: #86b2dc;
}
.vip-choose-icon i{
	font-size:80px;
}
.vip-user-type{
	display: inline-block;
	padding:0 18px;
	height:38px;
	line-height:38px;
	color: #fff;
	font-size:20px;
	background-color: #00a380;
	border-bottom:8px solid #018266;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.vip-user-type span{
	font-weight: bold;
}
.head-wrap{
	height: 40px;
	line-height: 40px;
	background-color: #f0f0f0;
	font-size: 12px;
	color: #2d2d2d;
	min-width:1200px;
}
.head-l .hot-line{
	margin-left: 30px;
}
.head-l .hot-line .iconfont{
	margin-right:5px;
}
.head-wrap .head .head-r .head-r-list{
	display: none;
}
.head-wrap .head .head-r .head-r-list.current{
	display: block;
}
.head-wrap .head .head-r .head-r-list li{
	float: left;
}

.head-wrap .head .head-r .head-r-list li a{
	color: #666;
	padding: 0 8px;
	display: block;
}

.head-wrap .head .head-r .head-r-list li a .iconfont{
	margin: 0 5px;
	font-size: 14px;
	color: #009aff;
}


/*登录后显示*/
.logined{
	line-height:40px;
}
.logined .signin{
	display: block;
	width:48px;
	height:22px;
	line-height:22px;
	background: #fa7c16;
	color: #fff;
	text-align: center;
	margin:9px 0;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.logined .message{
	width:60px;
	line-height:40px;
	height:40px;
	margin:0 22px ;
	position: relative;
	color: #2D2D2D;
	text-align: center;
}
.logined .message i{
	font-size:20px;
	position: absolute;
	left:0;
	top:0px;
}
.logined .message .message-icon{
	right:0;
	top:8px;
	padding:2px;
	width:12px;
	height:12px;
	line-height:12px;
	text-align: center;
	position: absolute;
	background-color: #e60012;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #fff;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.menu-list-wrap{
	position: relative;
}
.menu-list-wrap .user-pic{
	width:23px;
	height:23px;
	display: block;
	margin:8px 0;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	overflow: hidden;
}
.menu-list-wrap .menu-list{
	right:0;
	top:40px;
	position: absolute;
	width:105px;
	background-color: #fff;
	border:1px solid #dcdcdc;
	display: none;
	z-index:99;
}
.menu-list-wrap .menu-list li{
	margin:5px 0;
}
.menu-list-wrap .menu-list li a{
	display: block;
	line-height:32px;
	padding-left:15px;
	font-size:14px;
}
.menu-list-wrap .menu-list li a:hover{
	background: #f0f0f0;
}
/*搜索*/
.search-warp{
	padding: 40px 0;
}
.search-warp2{
	border-bottom: none !important;
}
.search-warp .logo{
	width: 156px;
	height: 50px;
	overflow: hidden;
}
.search-box{
	padding-left: 150px;
	width:595px;
	margin: 4px 0;
}
.search-box .search-text{
	width:480px;
	height: 40px;
	border: 1px solid #ff7200;
	position: relative;
	overflow: hidden;
}
.search-box .search-text input{
	width: 410px;
	height: 100%;
	line-height: 40px;
	padding-left: 10px;
	border: none;
	float: left;
	font-family: "microsoft yahei";
	font-size: 12px;
	
}
.search-box .search-btns a,.search2{
	width: 60px;
	line-height: 42px;
	height: 40px;
	color: #fff;
	border: none;
	background: #fa7c16;
	cursor: pointer;
	font-size: 14px;
	float: left;
}
.search2 .iconfont{
		font-size: 26px;
}
.search-box .search-btns{
	margin-left: 8px;
}
.search-box .search-btns .ask{
width: 100%;
height: 42px;
	background:#fa7c16;
	display: block;
	padding: 0 10px;
	text-align: center;
}
/*24H*/
.phone24{
	right: 0;
	top: 50%;
	width: 188px;
	height: 58px;
	background: url(../img/phone_bg.png) no-repeat;
	position: absolute;
	margin-top: -32px;
	padding: 10px 0 0 20px;
	font-size: 13px;
	color: #2d2d2d;
	line-height: 22px;
}
/*分类*/
.navbar-wrap{
	line-height: 70px;
	height: 70px;
}
.navbar-wrap .navbar-l{
	width: 230px;
	height:70px;
}
.navbar-wrap .navbar-l a.title{
	color: #2d2d2d;
	font-size: 16px;
	display: block;
	height: 70px;
}
.navbar-wrap .navbar-l a.title i.iconfont{
	margin-right: 5px;
}
.navbar-wrap .navbar-r a{
	color: #2d2d2d;
	float: left;
	font-size: 16px;
	padding: 0 35px;
}
.navbar-wrap .navbar-r a:hover{
	color: #4c8cd9;
}

/*更多*/
.index-more{
	font-size:15px;
	color: #2d2d2d;
	position: relative;

	text-align: center;
}
.index-more span{
	display: block;
	cursor: pointer;
	padding:0 50px;
	height:70px;
	overflow: hidden;
}
.index-more span i.iconfont{
	font-size:12px;
	margin-left:3px;
}
.index-more-list{
	left:50%;
	top:70px;
	height:auto;
	margin-left:-100px;
	background-color: #fff;
	border:1px solid #dcdcdc;
	position: absolute;
	z-index:9999;
	overflow: hidden;
	display: none;
}
.index-more-list li{
	text-align: left;
	float: left;
	min-width:50%;
	max-width:100%;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.index-more-list li a{
	padding:0 10px;
	display: block;
}
.index-more-list li a:hover{
	background-color: #f8f8f8;
}
/*我的回答*/
.index-my-answer{
	position: relative;
}
.index-my-answer a{
	font-size: 16px;
	color: #4c8cd9;
	height: 70px;
	display: block;
}
.index-my-answer a .iconfont{
	font-size: 20px;
}

.fixed-data{
	right: 0;
	top: 92px;
	width:265px;
	height: 405px;
	position: absolute;
	background: rgba(76,140,217,0.5);
	z-index: 888;
}
.fixed-data .fixed-data-item{
	padding-top: 16px;
}
.fixed-data-title{
	line-height: 48px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}
.fixed-data-num{
	text-align: center;
	line-height: 39px;
}
.fixed-data-num span{
	display: inline-block;
	font-size: 18px;
	width: 41px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	color: #fff;
	background: url(../img/data-cion.png) no-repeat;
}
/*content*/
.class-bar-wrap{
	left: 0px;
	top: 70px;
	position: absolute;
	z-index: 999;
}

.class-bar{
	width: 228px;
	min-height: 494px;
	border: 1px solid #4c8cd9;
	background: #fff;
}

.class-bar-list li.more-class{
	padding:10px 0;
}

.class-bar-list li .class-bar-line a{
	line-height: 22px;
	display:inline-block;
	color: #2d2d2d;
}

.class-bar-list li .class-bar-line dl dt{
	
	width:100%;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.class-bar-list li .class-bar-line dl dd {
	
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    padding-left: 5px;/*修改*/
}
.class-bar-list li .class-bar-line dl dd a{
	padding:0 5px;
}
.class-bar-list li .class-bar-line  a.bold{
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	text-align: left;
	padding-left: 20px;
	line-height: 50px;
}
.class-bar-list li .class-bar-con{
	left:228px;
	top: 0;
	position: absolute;
	width: 769px;
	min-height: 474px;
	padding: 10px;
	z-index: 5399;
	border: 1px solid #4c8cd9;
	background: #fff;
	display: none;
}
.class-bar-con .class-bar-con-item{
	padding: 0 0 10px 0;
}
.class-bar-con dl{
	width:370px;
	margin-right: 5px;
	overflow: hidden;
	padding:0 10px;
	box-sizing: border-box;
	height:60px;
}
.class-bar-con h2{
	padding: 0 10px;
	font-size: 14px;
	line-height: 34px;
}

.class-bar-con dl:hover{
	background: #f0f0f0;
}
.class-bar-con dl dt{
	font-weight: bold;
}
.class-bar-con dl dd{
	float: left;
	line-height: 30px;
}
/*.class-bar-con dl dd:hover{
	background: #f8f8f8;
}*/
.class-bar-con dl dd a{
	padding: 0 10px 0 0;
	display: inline-block;
}
.class-bar-con dl dd a:hover,.class-bar-con h2 a:hover{
	color: #f00;
	text-decoration: underline !important;
}
.class-bar-con dl dd a i.iconfont{
	font-size: 12px;
	margin-left: 5px;
}
/*选中*/
.class-bar-list li.current .class-bar-line{
	background: #fff;
	position: relative;
}
/*.class-bar-list li.current .class-bar-line:before{
	left: 0;
	top: 0;
	content: "";
	width: 6px;
	height: 100%;
	background: #2cc327;
	position: absolute;
}*/
.class-bar-list li.current .class-bar-line dl{
	background: #f7f7f7;
}
.class-bar-list li.current .class-bar-line a{
	color: #333333;
}
/*banner*/
/*banner*/
.lv_banner_wrap{
	position: relative;

	min-width: 1200px;
	width: 100%;
	height: 496px;
	overflow: hidden;
}
.lv_banner_wrap ul{
	width: 100%;
	height: 496px;
	position: absolute;
	left: 0;
	top: 0;
}
.lv_banner_wrap ul li{
	height: 496px;
	float: left;
	min-width: 1200px;
	position: relative;
}
.banner-item-main{
	width:920px;
	height:496px;
	position: absolute;
	left:50%;
	top:0;
	margin-left:-460px;
}
/*轮播点*/
.play-dot{
	position: absolute;
	bottom:15px;
	left: 50%;
}
.play-dot li{
	width: 10px;
	height: 10px;
	background: #fff;
	margin: 0 5px;
	float: left;
	border-radius: 50%;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.play-dot li.current{
	width: 40px;
	background: #3bcea4;
	border-radius: 20px;
}
/*左右导航键*/
.arrow-left,.arrow-right{
	width: 40px;
	height: 100px;
	line-height: 100px;
	top: 50%;
	text-align: center;
	background:rgba(0,0,0,.5);
	position: absolute;
	margin-top: -50px;
	color: #fff;
	display: none;
}
.arrow-left i,.arrow-right i{
	font-size: 30px;
}
.arrow-left{
	left: 50px;
}
.arrow-right{
	right: 50px;
}



/*底部*/

.page-wrap{
	padding:40px 0;
	text-align: center;
}
.page-wrap span,.page-wrap a,#page_count span{
	padding:0 10px;
	height:30px;
	line-height:30px;
	color: #666;
	text-align: center;
	display: inline-block;
	background: #f7f7f7;
	border:1px solid #e7e7e7;
	margin-right: 5px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor: pointer;
}
.page-wrap span.current,.page-wrap span:hover,.page-wrap a:hover,#page_count span:hover{
	color: #fff;
	background: #2cc327;
}
#page_count span:hover a{
	color: #fff;
}
.page-wrap .totle-page{
	background: none;
	border: none;
	color: #2D2D2D;
}
.page-wrap .totle-page:hover{
	color: #2d2d2d;
	background: none;
}
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.5);
		-ms-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}
}


@-webkit-keyframes zoomOut {
	0% {
		opacity: 1
	}

	50% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	100% {
		opacity: 0
	}
}

@keyframes zoomOut {
	0% {
		opacity: 1
	}

	50% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		-ms-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	100% {
		opacity: 0
	}
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	50% {
		opacity: 1
	}
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		-ms-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	50% {
		opacity: 1
	}
}

/*
 * 友情链接
*/


.friendship{
	padding: 30px 0 20px;
	font-size: 16px;
}

.friendship dl dt{
	position: relative;
	padding: 0 30px 0 16px;
	border-left: 4px solid #2cc327;
	
}
.friendship dl dd a{
	display: inline-block;
	margin: 0 25px;
	font-size: 14px;
}
.footer{
	height: 182px;
	background: #dadada;
}
.footer-top{
	text-align: center;
	padding: 30px 0;
}
.footer-top a{
	padding: 0 40px;
	display: inline-block;
	font-size: 14px;
	color: #2d2d2d;
	border-right: 1px dashed #a0a0a0;
}
.footer-bot{
	text-align: center;
	line-height: 30px;
	color: #888888;
}


/*弹窗组件*/
.my-confirm-wrap{
	width:100%;
	height:100%;
	position: fixed;
	left:0;
	top:0;
	background: rgba(0,0,0,0.5);
	z-index:10003;
	display: none;
}
.my-confirm-in,.success-box{
	left:50%;
	top:50%;
	width:304px;
	min-height:100px;
	position: absolute;
	margin-left:-152px;
	margin-top:-95px;
	background-color: #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding-top:90px;
	-webkit-animation:bounceIn 0.3s;
	-o-animation:bounceIn 0.3s;
	animation:bounceIn 0.3s;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display: none;
}

.my-confirm-in .my-confirm-status-bg,.success-box .my-confirm-status-bg2{
	width:105px;
	height:130px;
	position: absolute;
	top:-80px;
	left:50%;
	background: url("../img/alert.png") no-repeat;
	margin-left:-52px;
}
.success-box .my-confirm-status-bg2{
	width:125px;
	height:138px;
	margin-left:-63px;
	top:-90px;
	background: url("../img/alert-ok.png") no-repeat;
}
.my-confirm-btns,.success-box .success-box-btn{
	height:40px;
	line-height:40px;
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
}
.my-confirm-text,.my-confirm-text2{
	font-size:16px;
	color: #2d2d2d;
	text-align: center;
}
.my-confirm-btns a{
	float: left;
	width:50%;
	text-align: center;
	font-size:16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.my-confirm-btns a.btn-yes{
	color: #f18732;
	border-left:1px solid #dcdcdc;
}
/*ok*/
.success-box .success-box-btn a{
	display: block;
	width:100%;
	background-color: #f18732;
	text-align: center;
	font-size:16px;
	color: #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

/*首页用户选择信息*/
.user-info-chose{
	left:0;
	top:0;
	width:100%;
	height:100%;
	position: fixed;
	background:rgba(0,0,0,.9);
	z-index:9999;
}

.user-info-chose .user-info-in{
	left:50%;
	top:50%;
	position: absolute;
	width:526px;
	height:266px;
	background: #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin-left:-268px;
	margin-top:-150px;
	text-align: center;
	padding-top:34px;
}
.user-info-in-t {
	margin-bottom:10px;
	color: #4c8cd9;
}
.user-info-in-t h2{
	line-height:30px;
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	display: inline-block;
	font-size:20px;
}
.user-info-in-line a{
	float: left;
	width:50%;
	text-align: center;
	padding-top:150px;
	font-size:16px;
	position: relative;
}
.user-info-in-line a:hover{
	color: #4c8cd9;
}
.user-info-in-line a .user-icon{
	left:50%;
	top:0;
	width:116px;
	height:136px;
	margin-left:-58px;
	position: absolute;
	background: url("../img/user-choose.png") 0 0 no-repeat;
}
.user-info-in-line a.huanzhe .user-icon{
	background-position: 0 -146px;
}


/*checkbox*/
.forget-l{
	position: relative;
	padding-left:20px;
	line-height:24px;
}
.js-checkbox{
	left:0;
	top:50%;
	margin-top:-7px;
	position: absolute;
	width:14px;
	height:14px;
	border:1px solid #649bde;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	display: inline-block;
}

