.login-main {
    background-image: url("../images/login/login.jpg");
    background-size: 100% 100%;
    min-width: 1400px;
    min-height: 1000px;
    width: 100%;
    height: 100%;
}
.login-in {
    padding: 50px 300px;
}
.login-logo {
    width: 200px;
    height: 80px;
}
.login-box{
    width: 380px;
    min-height: 400px;
    background-color: #fff;
    position: relative;
    left: 650px;
    border-radius: 8px;
    overflow: hidden;
}

.login-box-left{
    text-align: center;
    width: 100%;
}
.login-box-left-t{
    border-bottom: 1px solid #dcdcdc;
}
.login-box-left-t h2,.reg-box-left-t h2{

    text-align: center;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    padding: 20px 0;
}

.login-step dl{
    border-radius: 6px;
    height: 40px;
    margin-left: 35px;
    margin-right: 35px;
    border: 1px solid #dcdcdc;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-transition: box-shadow 0.3s ;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s ;
    -o-transition: box-shadow 0.3s ;
    transition: box-shadow 0.3s ;

}
.login-step .iconfont {
    font-size: 20px;
    color: #c4c1bf;
    line-height: 35px;
}
.login-step .left {
    float: left;
    line-height: 40px;
}
.login-step .left input {
    width: 259px;
    height: 100%;
    border: 0px;
    outline:none;
    font-size: 16px;
}
.login-step dl.active,.reg-step dl dd input.active{

    border: 1px solid #fcc670;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.login-step dl dt{

    width: 45px;
    height: 40px;
    line-height: 50px;
    text-align: center;
}

.forget-l {
    float: left;
    position: relative;
    left: 37px;
    padding-left: 10px;
    line-height: 24px;
    font-size: 13px;
    color: #000;
    width: 100px;
}
.js-checkbox {
    left: 0;
    top: 50%;
    margin-top: -7px;
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #fda61a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
}
.js-checkbox.active{
    background:#fda61a url("../images/gou.png") 0 0 no-repeat;
}
form a {
    /*float: right;*/
    /*font-size: 12px;*/
    color: #fda61a;
}

.login-box-left-t .login-btn {
    width: 220px;
    height: 40px;
    line-height: 53px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: url(../images/login/login-but.png) no-repeat;
    font-family: "microsoft yahei";
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    outline:none;
}

.other-login-btn .iconfont {
    font-size: 26px;
    padding: 11px 18px;
}
.icon-weixin {
    color: #81cb3d;
}
.icon-qq {
    color: #2693ff;
}
.icon-unie61d {
    color: #f04949;
}
.login-box-left-b p {
    color: #000;
    margin: 10px 0;
}
.other-login-btn {
    margin-bottom: 10px;
}
.login-box-left-b .blue {
    color: #fda61a;
}
.login-box-left-b {
    height: 130px;
}
.forget .blue {
    margin-right: 30px;
}



/*注册*/
.reg-box-left-t {
    padding: 0 36px;
    border-bottom: 1px solid #dcdcdc;
}
.reg-step dl {
    line-height: 32px;
    *line-height: 32px;
    #line-height: 32px;
    _line-height: 32px;
    font-size: 16px;
    margin-bottom: 18px;
    width: 350px;
    height: 35px;
}
.reg-step dl dt {
    width: 66px;
    text-align: right;
    padding-right: 18px;
    float: left;

}
.reg-step dl dd {
    float: left;
}
.reg-step dl dd input {
    padding-left: 15px;
    font-size: 14px;
    width: 230px;
    height: 100%;
    line-height: 32px;
    border: 1px solid #dcdcdc;
    font-family: "Microsoft YaHei UI";
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: box-shadow 0.3s ;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s ;
    -o-transition: box-shadow 0.3s ;
    transition: box-shadow 0.3s ;
}
.xieyi {
    text-align: center;
    font-size: 12px;
}

.xieyi .js-checkbox {
    left: 70px;
    top: 50%;
    margin-top: 18px;
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #fda61a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
}
.xieyi label {
    color: #000;
}
.reg-step .reg-code-box dd input.send-code {
    width: 110px;
    height: 30px;
    line-height: 30px;
    border: none;
    background: #07c0a3;
    color: #fff;
    font-size: 14px;
    font-family: "microsoft yahei";
    text-align: center;
    padding: 0;
    cursor: pointer;
}


.lv_sub_btn_reg {
    width: 220px;
    height: 40px;
    line-height: 53px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: url(../images/signup/signup.png) no-repeat;
    font-family: "microsoft yahei";
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    outline:none;
}
#reg_code {
    width: 100px;
    height: 30px;
    line-height: 30px;
}
