.lv_yellow {
    color: #fff;
}
.personal-content {
	width: 1200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
    position: relative;
}
.person-container {
    padding-top: 40px;
    height: 650px;
    width: auto;
}
.person-img-container {
	padding-top: 40px;
	height: 650px; 
	width: auto;
}
.message-left {
	float: left;
	width: 140px;
	height: 240px;
	margin-right: 70px;
}
.my-message {
	float: left;
	width: 980px
}
.message-left li {
	line-height: 50px;
	height: 20%;
	border: 1px solid #dcdcdc;
}
.message-left a {
	display: block;
}
.message-left li:nth-child(2),.message-left li:nth-child(3),.message-left li:nth-child(4),.message-left li:nth-child(5) {
	border-top: 0px;
}
.message-left .active a {
	background-color: #ff9d00;
	color: #fff;
}
.message-left i {
	margin-left: 12px;
	font-size: 20px;
	padding-right: 8px;
}
.my-message h2 {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dcdcdc;
}
.reg-step dt ,.sex-step dt{
	width: 80px;
	font-size: 14px;
	text-align: right;
}
.reg-step ,.sex-step{
	height: 50px;
	line-height: 30px;
}
.reg-step dd,.sex-step dd  {
	padding-left: 20px;
}
.reg-step input {
	border: 1px solid #aba9a6;
	border-radius: 3px;
	width: 240px;
	height: 30px;
	padding-left: 12px;
}
.reg-step select {
	height: 25px;
	margin-right: 10px;
}
.reg-step textarea {
	width: 400px;
	height: 100px;
	font-size: 14px;
	line-height: 15px;
}
.sex-step label {
	padding-right: 15px;
}
.message-content-keep ,.messji-content-keep{
	clear: both;
    /*width: 200px;*/
    /*height: 40px;*/
    /*line-height: 53px;*/
    text-align: center;
    color: #fff;
    font-family: "microsoft yahei";
    border: none;
    cursor: pointer;
    display: block;
    outline: none;
    margin-left: 110px;
    margin-top: 70px;
    width: 100px;
	height: 28px;
	background-color: #ff9d00;
	border-radius: 20px;
	color: #fff;
	font-size: 10px;
	text-align: center;
	line-height: 28px;
	/*display: inline-block;*/
	margin-top: 40px;
}
.reg-step:nth-child(5) {
	margin-bottom: 100px;
}


/*头像*/
.upload-jia {
	width: 100px;
	height: 100px;
	background-color: #c8c6c3;
	cursor: pointer;
	margin-bottom: 20px;
}
.upload {
	margin-left: 10px;
}
.upload-jia span {
	display: block;
	background-color: #dedbd7;
}
.upload-jia .jia1 {
	width: 60px;
	height: 8px;
	position: relative;
	top: 45px;
	left: 22px;
}
.upload-jia .jia2 {
	position: relative;
	top: 14px;
	left: 45px;
	width: 8px;
	height: 60px;
}
.choose-upload ,.choose-upload2{
	width: 500px;
}
.choose-upload span,.choose-upload2 span {
	width: 100px;
	height: 28px;
	background-color: #ff9d00;
	border-radius: 20px;
	color: #fff;
	font-size: 10px;
	text-align: center;
	line-height: 28px;
	display: inline-block;
	cursor: pointer;
    float:left;
    margin: 8px;
}
.choose-upload p ,.choose-upload2 p{
	display: inline-block;
	padding-left: 12px;
    padding-top: 12px;
}
.upload-footer,.upload-footer2 {
    margin-bottom: 30px;
}
.upload-footer a,.upload-footer2 a{
	width: 100px;
	height: 28px;
	background-color: #ff9d00;
	border-radius: 20px;
	color: #fff;
	font-size: 10px;
	text-align: center;
	line-height: 28px;
	display: inline-block;
	margin-top: 40px;
}
.upload-jia img {
    position: relative;
}
.delet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    position: relative;
    left: 80px;
    bottom: 100px;
    display: block;
    text-align: center;
}










/*图片上传*/
@charset "utf-8";
.img-container {
    display: none;
    width: 400px;
    margin-top: 40px;
    position: relative;
    font-family: 微软雅黑;
    font-size: 12px;
}
.img-contain {
    display: none;
    width: 400px;
    margin-top: 40px;
    position: relative;
    right: 340px;
    font-family: 微软雅黑;
    font-size: 12px;
}
.img-container p,.img-contain p {
    line-height: 12px;
    line-height: 0px;
    height: 0px;
    margin: 10px;
    color: #bbb
}
.action,.action2 {
    width: 400px;
    height: 30px;
    margin: 10px 0;
}
.cropped,.cropped2 {
    position: absolute;
    right: -360px;
    top: 0;
    width: 150px;
    /*border: 1px #ddd solid;*/
    height: 360px;
    padding: 4px;
    /*box-shadow: 0px 0px 12px #ddd;*/
    text-align: center;
}
.cropped img,.cropped2 img {
    marign-left: auto;
    margin-right: auto;
    margin-top: 10px !important;
    display: inline-block;
}
.imageBox, .imageBox2{
    position: relative;
    height: 300px;
    width: 500px;
    border: 1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;
    box-shadow: 4px 4px 12px #B0B0B0;
}
.imageBox .thumbBox,.imageBox2 .thumbBox2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}
.imageBox .spinner,.imageBox2 .spinner2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}
.Btnsty_peyton{
    float: left;
    width: 40px;
    display: inline-block;
    margin-bottom: 10px;
    height: 40px;
    line-height:40px;
    font-size: 16px;
    color: #FFFFFF;
    margin:0px 2px;
    background-color: #ff9d00;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px #B0B0B0;
    border: 0px #fff solid;}
选择文件上传
.new-contentarea,.new-contentarea2 {
    width: 100%;
    overflow:hidden;
    margin: 0 auto;
    position:relative;
    float:left;
}
.new-contentarea label,.new-contentarea2 label {
    width:100%;
    height:100%;
    display:block;
}
.new-contentarea input[type=file] ,.new-contentarea2 input[type=file]{
    width: 100%;
    height: 100%;
    background: #333;
    margin: 0 auto;
    position: relative;
    top: -38px;
    right\*:0px\9;
    margin-right\*:0px\9;
    width\*:10px\9;
    opacity:0;
    filter:alpha(opacity=0);
    z-index:2;
}
a.upload-img ,a.upload-img2{
    width:100%;
    display: inline-block;
    margin-bottom: 10px;
    height:100%;
    line-height: 30px;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration:none;
    cursor:pointer;
}
.cropped img:hover,.cropped2 img:hover, .cropped img.active,.cropped2 img.active{
    border: 1px solid #fff;
    -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
    border-color:rgba(141,39,142,.75);
    -webkit-box-shadow:5px 5px 30px rgba(111,1,32,3);
    box-shadow:5px 5px 30px rgba(111,1,32,3);
    -moz-box-shadow:5px 5px 30px rgba(111,1,32,3);
}
.tc{text-align:center;}















/*绑定设置*/
.set-bang {
	margin-left: 5px;
	margin-top: 12px;
}
.set-box {
	border-bottom: 1px solid #dcdcdc;
	padding: 30px 0;
	height: 50px;
}
.set-left ,.set-left span,.set-left div{
	float: left;
}
.set-right {
	float: right;
	width: 78px;
	height: 28px;
	border-radius: 5px;
	line-height: 28px;
	text-align: center;
	background-color: #fff;
	color: #666;
	border: 1px solid #dcdcdc;
	cursor: pointer;
}
.set-box.active .set-left span {
	background-color: #ff9d00;
}
.set-left span {
	width: 44px;
	height: 46px;
	border-radius: 2px;
	background-color: #dcdcdc;
	display: inline-block;
	text-align: center;
	line-height: 46px;
	color: #b3b7b4;
}
.set-left div {
	padding-left: 18px;
}
.set-bang .active .set-right {
	background-color: #ff9d00;
	color: #fff;
}
.set-left h3:nth-child(2) {
	color: #ff9d00;
	font-size: 12px;
	font-weight: 400;
	padding-top: 3px;
}
.set-bang .active .set-left h3:nth-child(2) {
	color: #666;
}
.set-left .iconfont {
	font-size: 28px;
}
.set-bang .active .set-left .iconfont {
	color: #09a639;
}
.set-box:last-child {
	border-bottom: 0px;
}



/*指路人认证*/
.show-way {
	margin-left: 40px;
}
.way-step {
	width: auto;
	height: 60px;
	padding: 15px 0 0 0;

}
.way-step .step-box {
	text-align: center;
	float: left;
}
.way-step .step-box .step {
	width: 60px;
	height: 50px;
	float: left;
}
.way-step .step-box .step .one {
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    display: inline-block;
    border-radius: 50%;
    background-color: #ff9d00;
    color: #fff;
}
.step-box {
	position: relative;
}
.step-box:nth-child(2) {
	right: 45px;
}
.step-box:nth-child(3) {
	right: 90px;
}
.step-box:nth-child(4) {
	right: 135px;
}

.way-step .step-box .step h3 {
	font-size: 12px;
	padding-top: 5px;
	font-weight: 500;
}
.step-box .xian {
	width: 150px;
	height: 1px;
	background-color: #ff9d00;
	display: inline-block;
	float: left;
	position: relative;
	top: 7px;
	right: 23px;
}
/*.way-step .step-box:first-child .xian {*/
    /*background-color: #005900;*/
/*}*/

.personway-head {
	clear: both;
	margin-top: 20px;
}
.personway-left ,.personway-right {
	float: left;
	width: 250px;
	margin-right: 88px;
}
.message-content-update {
	margin-left: 30px;
    text-align: center;
    color: #fff;
    font-family: "microsoft yahei";
    border: none;
    cursor: pointer;
    display: block;
    outline: none;
    margin-top: 25px;
    width: 100px;
    height: 28px;
    background-color: #ff9d00;
    border-radius: 20px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 28px;
}
.personway-text {
	width: 200px;
	height: 100px;
	text-align: left;
	line-height: 25px;
	margin-left: 10px;
}
.personway-jia {
	width: 180px;
	height: 180px;
	background-color: #c8c6c3;
	cursor: pointer;
	margin: 0 0 15px 10px;
}
.personway-jia span {
	display: block;
	background-color: #dedbd7;
}
.personway-jia .jia1 {
	width: 80px;
	height: 10px;
	position: relative;
	top: 80px;
	left: 45px;
}
.personway-jia .jia2 {
	position: relative;
	top: 35px;
	left: 80px;
	width: 10px;
	height: 80px;
}
.com-tijiao {
	clear: both;
	padding-top: 50px;
	width: 500px;
	text-align: center;
    margin-bottom: 50px;
}
.com-tijiao #tijiao {
	width: 200px;
	height: 37px;
	background-image: url("../images/com.png");
	background-size: 100%;
	border: 0px;
	border-radius: 20px;
	cursor: pointer;
}
.shenhe-box {
    text-align: center;
    height: auto;
    width: 500px;
    margin-top: 70px;
}
.img-gou {
    background-image: url("../images/shgou.png");
    background-size: 100%;
    width: 35px;
    height: 35px;
    margin: 0 auto 15px;
    color: #2d2d2d;
}
.shenhe-box>span {
    color: #2d2d2d;
    margin-bottom: 20px;
    display: block;
}
span.work-time {
    color: #ff9d00;
}












/*系统消息*/
.message-time span {
	font-size: 14px;
	padding-right: 10px;
}
.message-mid {
	margin-top: 20px;
	width: 900px;
	height: auto;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}
.message-mid .mes-lab, .message-mid .mess-head {
	float: left;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	margin: 18px;
}
.message-mid .mes-lab {
	background-image: url("../images/laba.png");
}
.message-mid .mes-text {
	float: left;
	display: block;
	margin-top: 18px;
	margin-bottom: 20px;
	line-height: 34px;
	font-size: 15px;
	color: #000;
}
.mes-text a {
	color: #ff9d00;
	line-height: 20px;
}

.message-mid  .clean-mess {
	float: right;
	font-size: 140%;
	font-weight: 600;
    line-height: 12px;
}
.message-mid .mess-head a {
	width: 50px;
	height: 50px;
	background-image: url("../images/2.png");
	background-size: 50px 50px;
	border-radius: 50%;
	display: block;
}



/*私信*/
.letter-left {
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 12px;
	padding-left: 10px;
	height: auto;
}
.letter-ku {
	width: 13px;
	height: 13px;
	border: 1px solid #ff9d00;
	margin-right: 5px;
	display: inline-block;
	padding-right: 0px !important;
	position: relative;
	top: 3px;
}
.message-time .iconfont {
	float: right;
	font-size: 26px;
    cursor: pointer;
	color: #ff9d00;
}

/*弹窗*/
.home-messtan-container {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}
.home-mask {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    background-color: #000;
    opacity: 0.8;
    cursor: pointer;
}
.home-mess-letter {
    display: block;
    position: fixed;
    width: 500px;
    height: 450px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
}
.home-mess-content {
    width: 100%;
    height: 300px;
    background: #fff;
}
.home-mess-img {
    background-image: url("../images/tanniu.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
    margin: 0 auto;
}
.home-mess-content .home-you {
    width: 18px;
    height: 18px;
    border: 1px solid #ff9d00;
    color: #ff9d00;
    border-radius: 50%;
    position: relative;
    left: 486px;
    top: -10px;
    line-height: 20px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    font-weight: 600;
}
.home-mess-full {
    padding-left: 30px;
    padding-right: 20px;
}
.home-mess-full h2 {
    font-size: 14px;
    color: #221f1f;
    margin-bottom: 13px;
    font-weight: 400;
}
.home-mess-full textarea {
    width: 350px;
    height: 130px;
    border: 1px solid #dcdcdc;
}
.mess-for dt {
    width: 50px;
    text-align: left;
    font-size: 14px;
    color: #221f1f;
}
.mess-for {
    height: 35px;
    line-height: 35px;
}
.mess-for dd {
    margin-top: 3px;
    width: 350px;
    padding-left: 5px;
}
.mess-for input {
    height: 28px;
    border: 1px solid #dcdcdc;
    width: 100%;
}
.home-mess-full .mess-send-btn {
    background-image: url("../images/send.png");
    width: 160px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0px;
    display: block;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 auto;
}
.home-mess-full textarea {
    margin-bottom: 15px;
}










/*问题详情*/
.answer-list img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.question-ans-content {
    width: 100%;
    min-width: 1200px;
    height: auto;
    margin-bottom: 160px;
    zoom: 1;
    overflow: hidden;
}
.question-ans-content .question-head {
    min-width: 1200px;
    padding: 12px 0;
    border-bottom: 1px solid #dcdcdc;
}
.question-ans-content .question-head .head-box,.question-ans-content .question-box {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    zoom: 1;
    overflow: hidden;
}
.question-head .head-box a {
    color: #9e9a95;
    font-size: 12px;
    margin-right: 3px;
}
.question-head .head-box a:last-child {
    cursor: text;
}
.question-head .head-box .active {
    color: #ff9d00;
}
.question-head .head-box .iconfont {
    color: rgba(50,201,161,0.77);
    margin-right: 3px;
    font-weight: 600;
}
.question-box .question-content, .question-box .question-right,  .question-box .question-home {
    float: left;
}
.question-box .question-content {
    width: 760px;
    height: auto;
    margin-top: 30px;
    margin-right: 30px;
    border: 1px solid #dcdcdc;
    border-top: 4px solid #ff9d00;
    padding: 20px 17px 30px;
}
.question-box .question-right {
    width:  320px;
    height: auto;
    margin-top: 30px;
}
.question-box .question-right img {
    width: auto;
    height: auto;
}
.question-box .question-right .ask-que-box {
    width: auto;
    height: 50px;
    background-color: #ff9d00;
    margin-bottom: 15px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
}
.ask-que-box a {
    color: #fff;
    display: block;
    font-size: 18px;
}
.ask-avment {
    position: relative;
    margin-bottom: 20px;
}
.ask-question-right {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background: rgba(50,201,161,0.77);
    font-size: 14px;
}
.answer-exercise h1, .about-question h1 {
    width: auto;
    font-size: 16px;
    /*color: #000;*/
    padding-bottom: 5px;
    border-bottom: 1px solid #dcdcdc;
}
.answer-exercise .iconfont {
    float: left;
    margin-right: 10px;
    color: rgba(50,201,161,0.77);
    font-size: 22px;
    line-height: 40px;
}
.answer-exercise a {
    display: block;
    margin: 10px 0;
}
.answer-exercise li {
    border-bottom: 1px dashed #dcdcdc;
    height: 45px;
}
.L-answer-right {
    float: left;
}
.L-answer-right span {
    display: block;
}

.about-question {
    margin-top: 45px;
}
.L-answer-right span:first-child {
    color: #666;
}
.L-answer-right span:nth-child(2), .about-ques-right {
    color: #9e9a95;
}
.about-ques-content {
    margin-top: 10px;
}
.question-box .question-content .question-ask h2 {
    font-size: 16px;
    margin-bottom: 8px;
}
.question-person .right-que {
    color: #9e9a95;
    margin-left: 20px;
    font-size: 10px;
}
.question-person img {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 5px;
}
.question-person {
    height: 30px;
    line-height: 30px;
}
.question-box .question-content .question-ask p {
    padding-bottom: 30px;
    padding-top: 20px;
    border-bottom: 1px dashed #dcdcdc;
    clear: both;
}
.question-ask {
    margin-bottom: 50px;
}
.question-ask .question-footer {
    margin-top: 20px;
}
.question-footer .guan-person {
    float: right;
}
.question-footer a {
    color: #797876;
    font-size: 10px;
}
.question-footer a i {
    margin-right: 3px;
}
.answer-text {
    clear:both;
    padding-bottom: 15px;
    padding-top: 15px;
}
.answer h1 {
    font-size: 14px;
    color: #9e9a95;
    padding-bottom: 3px;
    border-bottom: 1px solid #dcdcdc;
}
.answer-info-in .clearfix {
    line-height: 50px;
    float: left;
}
.answer ul li {
    padding: 20px 0 30px;
    border-bottom: 1px dashed #dcdcdc;
}
.answer ul li:last-child {
    border: 0px;
}
.answer-list .ding {
    position: relative;
    float: right;
    width: 50px;
    height: 25px;
    background-color: #ff9d00;
    display: block;
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 3px;
}
.question-foot .answer-que {
    float: left;
}
.question-foot span.active {
    float: right;
    width: 120px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #ff9d00;
    line-height: 18px;
    text-align: center;
    color: #ff9d00;
    cursor: pointer;
    border-radius: 3px;
}
.question-foot {
    height: 25px;
}
.question-foot a {
    padding-right: 5px;
    padding-left: 5px;
}
.question-foot .right {
    margin-left: 10px;
	line-height: 22px;
}
.question-foot span {
    font-size: 10px;
    color: #797876;
}
.question-foot i {
    margin-right: 3px;
}



.icon-fuli, .icon-iconfontsousuo {
    font-size: 26px;
    vertical-align: middle;
}
.write-que-strategy {
    width: 100%;
    height: 50px;
    border: 1px solid #ff9d00;
    margin-bottom: 20px;
}
.write-que-strategy  input {
    width: 80%;
    height: 50px;
    border: 0px;
    padding: 15px;
    font-size: 16px;
}
.write-que-strategy .iconfont {
    padding-left: 15px;
    color: #ff9d00;
}
.about-question .ask-avment {
    margin-top: 20px;
}
.que-fot-left {
    float: left;
}
.que-fot-right {
    float: right;
}
.que-fot-right .guan-btn {
     width: 50px;
     height: 25px;
     color: #ff9d00;
     border: 1px solid #ff9d00;
     margin-left: 35px;
     margin-right: 15px;
     border-radius: 3px;
     line-height: 25px;
     text-align: center;
     display: inline-block;
     font-size: 14px;
 }
.que-fot-right .hui-btn {
    width: 80px;
    height: 25px;
    color: #fff;
   background-color: #ff9d00;
    margin-right: 20px;
    border-radius: 3px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}






/*指路人筛选*/
.pathfinder-top-set {
    padding-top: 20px;
    padding-bottom: 30px;
}
.pathfinder-top-set h2 {
    font-size: 18px;
    color: #1f1e1b;
}
.pathfinder-in {
    word-wrap: break-word;
}
.pathfinder-in dl dt {
    float: left;
    margin-left: -65px;
    display: inline;
    padding: 11.5px 0;
    width: 60px;
    font-size: 16px;
    height: 20px;
    color: #333;
    line-height: 20px;
}
.pathfinder-in dl dt span {
    width: 3px;
    height: 18px;
    background-color: #26bb17;
    display: inline-block;
    float: left;
    margin-right: 3px;
}
.pathfinder-in dl dd {
    display: inline-block;
}
.pathfinder-in dl {
    padding: 5px 0 5px 65px;
    line-height: 15px;
    clear: both;
}
.pathfinder-in dl a {
    margin: 8px 15px 8px 0;
    padding: 7px 12px;
    color: #666;
    height: 15px;
    float: left;
    font-size: 14px;
}
.pathfinder-in dl dd .active {
    background-color: #ff9d00;
    color: #fff;
    border-radius: 3px;
}
.pathfinder-in dl dd .right {
    float: right;
    padding: 0px;
    margin: 8px 0;
    color: #ff9d00;
}
.pathfinder-in dl dd .right:hover {
    border-bottom: 1px solid #ff9d00;
}
.pathfinder-in dl dd div {
    height: auto;
    zoom: 1;
    overflow: hidden;
}
.page-fen {
    clear: both;
    text-align: center;
    zoom: 1;
    overflow: hidden;
    padding-top: 50px;
}
.holder-num {
    display: inline-block;
    font-size: 16px;
    color: #000;
}
.holder {
    display: inline-block;
}
.holder a {
    display: inline-block;
}







/*指路人*/
.list-em-pathfinder {
    clear: both;
    width: 1180px;
}
.list-em-head .list-head-left, .list-em-head .list-head-left h2 {
    float: left;
}
.list-head-right {
    float: right;
}
.list-em-pathfinder .list-content {
    clear: both;
}
.list-head-left h2 {
    font-size: 16px;
    margin-right: 10px;
}
.list-head-left .iconfont {
    color: #ff9d00;
    font-weight: 600;
}
.list-em-head {
    height: auto;
    zoom: 1;
    overflow: hidden;
    padding-bottom: 10px;
}
.list-head-right .active {
    color: #ff9d00;
}
.list-content li {
    float: left;
    width: 25%;
    padding-bottom: 8px;
}
.path-list-item-pic {
    width: 288px;
    height: 255px;
    overflow: hidden;
}
.path-list-item {
    text-align: center;
    width: 288px;
    height: 385px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,.1);
    box-shadow: 0 0 30px rgba(0,0,0,.1);
}
.path-list-item-name {
    font-size: 18px;
    color: #2d2d2d;
    line-height: 60px;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list-content li.active .lv_ask_btn {
    opacity: 1;
}









/*关注粉丝*/
.message-left ul {
    border-radius: 3px;
}
.message-content h2 {
    font-size: 16px;
    color: #000;
    font-weight: 400;
}
.message-content h2 span {
    color: #ff9d00;
}
.my-follow-peo li {
    float: left;
    width: 33.3%;
}
.my-follow-peo {
    zoom: 1;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.flow_list_item_pic {
    width: 293px;
    height: 210px;
    overflow: hidden;
}
.flow_list_item {
    width: 293px;
    height: 385px;
    margin: 0 auto;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}
.flow_list_item_pic img {
    width: 293px;
    height: 255px;
}
.flow_list_item h3 {
    padding: 17px 0;
    font-size: 18px;
    color: #000;
    font-weight: 400;
}
.flow_list_item_number {
    height: 60px;
}
.flow_list_item_number >div {
    width: 33.3%;
    text-align: center;
}
.flow_list_item_number >div span {
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0;
    display: inline-block;
}
.flow_list_item_number >div p {
    font-size: 14px;
}
.flow_list_item .iconfont {
    font-weight: 600;
    margin-left: 3px;
    display: inline-block;
}
.icon-nan {
    color: #25c978;
}
.icon-nv {
    color: #e9108a;
}
.person-lv-ask {
    margin-top: 12px;
}
.person-lv-ask a {
    display: inline-block;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border-radius: 3px;
    line-height: 30px;
}
.person-lv-flow-btn {
    background-color: #dcdcdc;
    color: #fff;
    margin-right: 15px;
}
.person-lv-ask-btn {
    border: 1px solid #ff9d00;
    color: #ff9d00;
}
.mess-fan-cont img {
    width: 200px;
    height: 180px;
    margin: auto;
    margin-top: 120px;
}












/*提问*/
.question-left {
    float: left;
    width: 780px;
    margin-right: 20px;
}
.com-ques-btn span {
    width: 130px;
    height: 40px;
    background-color: #ff9d00;
    color: #fff;
    line-height: 40px;
    text-align: center;
    display: block;
    border-radius: 6px;
    margin-top: 20px;
}
.question-ask-person h2 {
    font-size: 16px;
    color: #000;
    padding: 15px 0;
}
.question-ask-person h2 a {
    color: #ff9d00;
}
.title-ques-cont h3 {
    font-size: 14px;
    padding: 10px 0;
    color: #000;
}
.title-ques-cont input {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    margin-bottom: 20px;
    border: 1px solid #a39f9f;
}
.com-offer {
    margin-top: 20px;
}
.com-offer input {
    padding-left: 15px;
    margin: 10px 0;
    width: 350px;
    height: 30px;
    border: 1px solid #a39f9f;
}
.com-offer .money-num {
    color: #ff9d00;
    position: relative;
    top: -2px;
}
.com-offer div {
    margin: 6px 0;
}
.com-offer span {
    vertical-align: middle;
}
.com-offer .kong {
    width: 12px;
    height: 12px;
    border-radius: 1px;
    border: 1px solid #ff9d00;
    display: inline-block;
}
.com-offer .kong.active {
    background: #fda61a url("../images/gou.png") 0 0 no-repeat;
}
.ques-right {
    width: 320px;
    height: auto;
    margin-top: 20px;
    float: right;
}
.flow-que-top h2 {
    font-size: 16px;
    color: #000;
}
.flow-que-top div {
    text-align: center;
    width: 99%;
    height: 130px;
    border: 1px solid #dcdcdc;
    margin: 10px 0;
}
.flow-que-top div h1 {
    margin: 20px auto;
}
.flow-que-top div p {
    font-size: 14px;
}
.flow-path-one h1 {
    color: #ff9d00;
}
.flow-path-two h1 {
    color: #34cd81;
}


.flow-que-bottom h3 {
    padding: 10px 0;
    font-size: 14px;
}
.flow-content {
    height: 230px;
    border: 1px solid #dcdcdc;
    padding: 20px;
    line-height: 25px;
}
.flow-content p {
    margin-bottom: 15px;
}


/*评论*/
.img-text-cont img {
    height: auto;
}
.answer-content p {
    margin: 10px 0;
}
.question-discuss {
    display: none;
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    border: 1px solid #dcdcdc;
	position:relative;
	margin-top: 10px;
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.question-discuss:before,.question-discuss:after{
	content:"";
	display:block;
	border-width:8px;
	position:absolute;
	top:-16px;
	left:80px;
	border-style:solid dashed dashed solid;
	border-color:transparent  transparent #dcdcdc transparent;
	font-size:0;
	line-height:0;
}
.question-discuss:after{
	top:-15px;
	border-color: transparent transparent #FFF transparent;
}
.discuss-silp {
    background-color: #fff;
}
.discuss-silp li {
    padding: 15px 20px;
    height: auto;
    zoom: 1;
    overflow: hidden;
}
.discuss-silp .quer-head {
    float: left;
    width: 80%;
    height: auto;
    line-height: 35px;
}
.discuss-silp .quer-head img {
    width: 35px;
    height: 35px;
    float: left;
}
.discuss-silp li .que-hui {
    margin-right: 10px;
    float: right;
    width: 38px;
    height: 20px;
    border: 1px solid #dcdcdc;
    line-height: 20px;
    text-align: center;
    border-radius: 2px;
}
.discuss-silp li .que-hui a {
    display: block;
}
.discuss-silp li .que-time {
    clear: both;
    display: block;
    float: right;
}
.reply-box {
    width: 95%;
    margin: 10px auto 50px;
    display: none;
}
.reply-box textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #dcdcdc;
    letter-spacing: 1px;
}
.reply-box .rep-hui a{
    float: right;
    width: 50px;
    height: 23px;
    background-color: #ff9d00;
    color: #fff;
    text-align: center;
    line-height: 23px;
    margin-top: 20px;
}
.answer-info-in .add-answer {
    color: #ff9d00;
    display: block;
    padding: 10px 0;
}
.icon-xingzhuang3.active {
    color: #bf1f1f;
}








.question-box .question-home {
    width: 760px;
    height: auto;
    margin-top: 15px;
    margin-right: 30px;
    padding: 20px 17px 30px;
}
.home-head-title {
    margin-bottom: 15px;
}
.home-head-title a {
    width: 100px;
    height: 25px;
    /*background-color: #ff9d00;*/
    /*color: #fff;*/
    margin-right: 20px;
    text-align: center;
    line-height: 25px;
    display: inline-block;
    border-radius: 3px;
    color: #000;
    font-size: 18px;
}
.home-head-title .active {
    background-color: #ff9d00;
    color: #fff;
}



.animated {
    position: absolute;
    top: -30px;
    left: 15px;
    color: #ff9d00;
    font-size: 18px;
    display: block;
}



